[2013-12-28 23:42] sergey-tihon opened #1 "We need to have all samples rewritten in C#"
We need to have C# test projects with the same logic like in F# but re-implemented using C# (the naming convention `Stanford.NLP.[ComponentName].CSharp.Tests` should be used)
As starting point can be used [C# samples](https://github.com/sergey-tihon/FSharp.NLP.Stanford/tree/master/StanfordSoftware/Samples)

[2013-12-28 23:47] sergey-tihon opened #2 "Create gh-pages site with documentation"
Change project structure to  FSharp.ProjectScaffold and write documentation using FSharp.Formatting

[2013-12-28 23:48] sergey-tihon opened #3 "Migrate `Stanford Classifier`"
http://www-nlp.stanford.edu/software/classifier.shtml

[2013-12-28 23:49] sergey-tihon opened #4 "Migrate `Tregex`"
http://www-nlp.stanford.edu/software/tregex.shtml

[2013-12-29 15:56] #2 closed, assigned to sergey-tihon

[2014-01-11 20:44] sergey-tihon opened #5 "Create samples for sentimental analysis"
[Deeply Moving: Deep Learning for Sentiment Analysis](http://nlp.stanford.edu/sentiment/index.html)

[2014-04-24 07:16] Hari3045 opened #6 "What does integer result of RNNCoreAnnotations.getPredictedClass(tree) mean?"
Hi..I am computing sentiment score for text using coreNLP RNNCoreAnnotations.getPredictedClass(tree) method. The returned value is 1,2 and 3. I understand that 1 is -ve, 2 is neutral and 3 is +ve. Am I correct or is there a way to find out what the results mean?

[2014-04-24 08:26] #6 closed, assigned to nobody

[2014-06-29 23:43] adaam2 opened #7 "Getting Annotation / Entity type for NER"
So far so good except that I cannot figure out how to get access to the Entity value using the Named Entity Recognizer. I can access the original word using originalText() but the method to retrieve the Annotation/Entity just returns null:

[code]

I'm successfully printing out everything to the screen using toShorterString() which produces this output:

[Value=Hertfordshire Text=Hertfordshire Ori

[2014-06-30 12:30] #7 closed, assigned to nobody

[2014-08-19 19:06] #1 closed, assigned to nobody

[2014-11-01 07:24] sergey-tihon opened #9 "Update up to v3.5+"
New packages use `Java 8`, but `IKVM 8.0` is not released yet.
http://weblog.ikvm.net/

[2014-12-03 18:48] #9 closed, assigned to sergey-tihon

[2015-01-29 20:38] murphythecat opened #10 "porting StanfordCoreNLP to R?"
It would truely be awesome : )

[2015-01-29 21:54] sergey-tihon commented on #10
I think that it is already possible to do
http://stackoverflow.com/questions/13938272/using-the-stanford-nlp-libraries-from-within-r-using-the-rjava-package

[2015-02-09 13:27] bulltorious opened #11 "Example code fails with "Error creating > edu.stanford.nlp.time.TimeExpressionExtractorImpl" when using Stanford CoreNLP version 3.5.1"
I am trying to learn the Stanford CoreNLP library. I am using C# with the posted example (https://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html). I loaded the package “Stanford.NLP.CoreNLP” (it added IKVM.NET) via nuget and downloaded the code. Unzipped the .jar models. My directory is correct. I get the following error:

Here is my code:

[code]

NOTE:  After more exploring, I only

[2015-02-09 16:13] sergey-tihon commented on #11
@volhav Could you please test it on your machine? Thanks.

[2015-02-09 18:56] volhav commented on #11
@bulltorious  @sergey-tihon I've checked, as mentioned before, everything works fine with supported v3.5.0. I think the issue will be fixed when Sergey updates a package with a new version of Stanford.CoreNLP

[2015-02-09 19:38] sergey-tihon opened #12 "Migrate Stanford.NLP.NET to v3.5.1"
#11

[2015-02-09 21:19] sergey-tihon commented on #12
Need to fix https://github.com/fsprojects/Paket/issues/592 first

[2015-02-14 09:57] sergey-tihon commented on #11
@bulltorious Please try latest version from NuGet

[2015-02-14 09:59] #12 closed

[2015-02-14 13:47] bulltorious commented on #11
It is working now with the latest corenlp version.  Thanks Sergey.

[2015-02-14 21:24] #11 closed

[2015-02-24 03:04] pchankh opened #13 "Request for C# sample to extract word, pos, ne etc from CoreMap"
Hi Sergey,

Thanks for your great effort in porting to .Net.  We are scratching our heads on porting the following code to .Net. (especially the CoreMap sentence , word, pos, and ne portion).  Will be great if you can include and expand your StanfordCoreNLP C# sample.  Much Appreciated.

Patrick

http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html

Request for help to expand the sa

[2015-02-24 03:29] pchankh opened #14 "Request to have C# samples"
Hi Sergey,

Will be great if you can also have a counterpart C# samples alongside F#.
Much appreciated.

Cheers
Patrick

[2015-02-24 05:03] sergey-tihon commented on #14
Each site page contains a C# sample at the very bottom. This is not enough?
http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html

[2015-02-24 05:04] sergey-tihon commented on #13
@volhav Could you help here?

[2015-02-24 11:19] volhav commented on #13
@sergey-tihon I'm a little bit out of time for the moment, but hopefully will be able to look at it soon. In case you or anybody else not finish it till then:)

[2015-02-28 21:38] altinoren opened #15 "StackOverflow when running C# samples"
Hi,

I'm getting the following error when running the Parser's sample C# code from the site [1]:
**An unhandled exception of type 'System.StackOverflowException' occurred in IKVM.OpenJDK.Core.dll**
on line:
`var gs = gsf.newGrammaticalStructure(tree2);`
It's all good up to that point.

CoreNLP sample in C# also fails with StackOverflow exception on the following line if annotators include "parse":

[2015-03-02 21:53] sergey-tihon commented on #15
@altinoren Do you run code equal to samples from site? (without any changes)
@volhav Could you assist here?

[2015-03-02 22:22] sergey-tihon commented on #15
C# sample for Stanford Parser works on my machine
https://github.com/sergey-tihon/Stanford.NLP.NET/commit/549a59c86beca7ac0d5dfb29f1d780bd0fc5ffc2

[2015-03-02 22:33] sergey-tihon commented on #13
Oh... I already did port of this `Java` code to `F#` tests.
See here https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.fs#L14-L52

[2015-03-03 15:37] volhav commented on #15
@altinoren I've run both samples as well and they work fine on my machine. Could you please check that you have latest package version from Nuget? If so, could you show your console output? Not only error I mean. Probably it'll help us understand what is going wrong

[2015-03-03 15:38] volhav commented on #13
@sergey-tihon I knew it!)
@pchankh let me know if you need help in porting it from F# to C#

[2015-03-03 21:37] altinoren commented on #15
MY report above is correct but apparently missing some details.

I was testing it in an ASP.NET MVC application. After you request console output, I tested the code in a console application and all works fine (I should have done this in the first place, sorry. I wasn't expecting such a difference based on the platform.). On MVC, not only it raises the error but also considerably slow, there must b

[2015-03-04 05:21] pchankh commented on #13
Hi Sergey,

Thanks so much for providing the F# code. As my team is working using C#, appreciate if your team can help.

Cheers
Dr Patrick

[2015-03-04 07:00] sergey-tihon commented on #15
It is strange because I use it under IIS for years.
It worked under .NET 3.5 and .NET 4.5 for me.

[2015-03-04 07:03] sergey-tihon commented on #13
@volhav Could you convert code to C# and add to https://github.com/sergey-tihon/Stanford.NLP.NET/tree/master/samples/Stanford.NLP.Parser.CSharp ?

[2015-03-04 08:20] volhav commented on #13
@sergey-tihon Sure, I'll try to)

[2015-03-06 08:57] altinoren commented on #15
IKVM.Net breaks when hosted on IIS Express (on 4.5 Framework, run directly from Visual Studio), and all works well when deployed to IIS. I won't devote more time investigating further since I'll work with Stanford.NLP.NET on IIS for my actual project.

If I have time to test it on a machine other than mine, and if the problem continues, I'll report it to IKVM.Net project.

Thank you all for your t

[2015-03-06 08:57] #15 closed

[2015-03-09 05:15] #10 closed

[2015-04-23 07:47] sergey-tihon commented on #13
Hi @volhav , any update for this?

[2015-04-23 13:46] volhav commented on #13
Hi, I am overload with my work project now, so didn't have a chance for
code conversion, sorry for this

2015-04-23 10:47 GMT+03:00 Sergey Tihon <notifications@github.com>:

[2015-04-24 03:55] pchankh commented on #13
Dear Sergey,

We have converted the code and will post for your team reference shortly.
Thanks

Dr Patrick

[2015-04-28 21:26] ghost opened #16 "Cannot evaluate expression because the current thread is in a stack overflow state"
After implementing the example as shown on the project page, during execution I ran into a stackoverflowexception when executing this step:

[code]

I have enclosed an abbreviated stack list.  The upper portion is the looped stack, the lower is where this code is called. Any insight would be greatly appreciated.

Exception message: Cannot evaluate expression because the current thread is in a stac

[2015-05-03 07:34] sergey-tihon commented on #16
@jhmiglietta-inc Could you provide full source code link on the example?

[2015-05-12 05:43] sergey-tihon opened #17 "Migrate to v3.5.2"

[2015-05-14 08:16] alismart opened #18 "Sample code for using ArabicTokenizer"
Sergey, i did my best to understand how to use the ArabicTokenizer, you can see my try in the following code. i hope to check it and see if this is the best way of use.
i am also trying to set the parameters in the main method, but it doesn't seem to work at all. for example it neither removes the diacritics nor removingTatweel.

[code]

![image](https://cloud.githubusercontent.com/assets/9283003/

[2015-05-18 12:54] sergey-tihon commented on #18
As I understand you need [Stanford Word Segmenter](http://nlp.stanford.edu/software/segmenter.shtml) that is designed for tokenization of Arabic and  Chinese languages.
Here you can find C#/F# samples for [Stanford Word Segmenter for .NET](http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordWordSegmenter.html)
Is it what you are trying to do?

[2015-05-18 19:28] alismart commented on #18
I tried Stanford Word Segmenter, as its name implies, it is dividing the raw text to segments ( sentences ) depending on a training set which need so many ram and cpu resources as i noticed since it is using Machine Learning.

Later on,I noticed that Stanford has included another tool called: Arabic Tokenizer
which is a straightforward algorithm for dividing raw Arabic text to tokens ( words ) . s

[2015-05-22 02:52] pchankh commented on #13
Hi Sergey,

As promised, here is our code from your F# convert:
sentences = annotation.get(new
CoreAnnotations.SentencesAnnotation().getClass()) as ArrayList;
foreach (CoreMap sentence in sentences)
{
 var tokens = sentence.get(new
CoreAnnotations.TokensAnnotation().getClass()) as ArrayList;
 foreach(CoreLabel token in tokens)
 {

  var word = token.get(new CoreAnnotations.TextAnnotation().getClas

[2015-05-22 10:46] sergey-tihon commented on #13
Thank you @pchankh !

[2015-05-22 10:46] #13 closed

[2015-05-22 11:29] sergey-tihon commented on #18
Please try following sample
[code]

[2015-05-22 13:23] #17 closed

[2015-06-04 22:13] gimp-dad commented on #11
Hi Sergey,

I just ran into this exact same issue with the 3.5.2 package.  Am I the only one?

Thanks,
Gimp

[2015-06-04 22:43] TheTurducken opened #19 "Error creating edu.stanford.nlp.time.TimeExpressionExtractorImpl"
Hello, I am  trying to run through your example code, and I ran into this error:
An unhandled exception of type 'edu.stanford.nlp.util.ReflectionLoading.ReflectionLoadingException' occurred in stanford-corenlp-3.5.2.dll
Additional information: Error creating edu.stanford.nlp.time.TimeExpressionExtractorImpl

I copied your example exactly, and I am using 3.5.2. What could I be doing wrong?

[2015-06-05 19:54] sergey-tihon commented on #19
Please try to set `ner.useSUTime` [to 0](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.fs#L61) or [to false](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.fs#L93)

[2015-06-05 19:56] sergey-tihon commented on #11
Please try this solution https://github.com/sergey-tihon/Stanford.NLP.NET/issues/19#issuecomment-109420786

[2015-06-09 08:37] gimp-dad commented on #11
Thanks, Sergey.  Replacing code like

props.setProperty("sutime.binders", "0");

with

props.setProperty("ner.useSUTime", "0");

has fixed the issue.

[2015-06-26 07:57] boriskozlov commented on #15
Thanks for solving the problem. Indeed, IKVM can't work with IIS express and works perfectly on IIS.

[2015-06-26 18:40] eformx commented on #16
Are you running IIS Express?  I was and then setup IIS and served the page to IIS and it worked perfectly.  Code (vb.net asp.net) for a future web app...

Imports edu.stanford.nlp.ling
Imports edu.stanford.nlp.pipeline
Imports java.util
Imports System.IO
Imports Console = System.Console

Partial Class _Default
    Inherits System.Web.UI.Page

    Protected Sub Page_Load(sender As Object, e As Even

[2015-06-27 14:41] sergey-tihon commented on #15
Do you understand why it does not work under IIS Express?

[2015-06-27 16:30] boriskozlov commented on #15
No idea :)

[2015-07-02 11:49] alismart commented on #18
Unfortunately, it didn't work.
Obviously the tokenizer is not recognizing any of the options you provided in the code
this is my try, the red words are what is expected after taking the options in consideration
![image](https://cloud.githubusercontent.com/assets/9283003/8476326/fbe38caa-20c8-11e5-8e2f-7cc1b7d1bb38.png)

maybe there is still something required to get everything works properly.

giv

[2015-07-07 05:08] sergey-tihon commented on #18
@alismart Sorry, I have no ideas.
Could you try Java version? Would be nice to know if it is work as you expected or not.

[2015-07-12 09:49] saidMoulay commented on #18
in your script program,replace this line scripte    "foreach (String option in tokenizerOptions.stringPropertyNames().toArray())"     with this one     "foreach (String option in parameters)"  .  And the output text wil be as you hope (fine). with out Tatweel . . .

[2015-07-13 11:31] KamalAlipour opened #20 "Error An unhandled exception of type 'System.StackOverflowException' occurred in IKVM.OpenJDK.Core.dll"
Hi Sergey,
Do you know why i get the above error on "pipeline.annotate(annotation); ". I have installed Stanford-CoreNLP-3.5.2 and copied "stanford-corenlp-3.5.2-models" folder with "StanfordCoreNlpDemo.java" into my project. Here is the code:

[code]

Thanks for any advice.

Your sincerely
Kamal

[2015-07-17 19:50] JamesWHurst commented on #14
I have not seen one yet that actually works though.

[2015-07-17 21:22] sergey-tihon commented on #14
You do not need Java at all. Everything that you need is in NuGet packages.
Could you try [sample from this repo](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/samples/Stanford.NLP.Parser.CSharp/Program.cs)?
Or download this repo and execute `build All`?

[2015-07-17 21:26] sergey-tihon commented on #14
I will be glad to improve docs, but I think that do not understand errors and inconsistencies that you have. From my point of view everything is simple:

1) Reference NuGet package
2) Download pre-trained model
3) Copy-parse sample from the site
4) Compile and execute

Could you help me understand which step is more problematic and help to improve it?

[2015-07-17 21:39] sergey-tihon commented on #20
As a first step you could try to decrease number of annotators to find which one cause an error.
[code]

[2015-07-25 03:16] MichaelAtTrov commented on #11
Hey @sergey-tihon, and chance that your [F# and C# samples](http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html) could be updated to reflect this new requirement?

Thanks for your consideration. :)

[2015-08-06 04:24] zxli opened #21 "StanfordCoreNLP.annotate will hang with some input text."
Here is how StanfordCoreNLP is initialized.

[code]

The following (long) text input will hang StanfordCoreNLP.annotate call.

Process Start in Azure Website
ramiramilu&#39 s answer is actually not correct  You can run any exe you want ([check this for example](https://github com/projectkudu/kudu/wiki/Kudu-console))  The problem you are hitting is not in running an exe  it&#39 s something specific

[2015-08-20 13:25] gsscoder opened #22 "Exception when running text annotation sample"
When I try to run the sample from http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html,
I got the following error in **FSharp Interactive**:

[code]

I've downloaded packages with **Paket** and extracted the `models` dir from the `stanford-corenlp-3.5.2-models.jar`.

Am I missing something?

Thanks in advance.

[2015-08-22 15:22] gsscoder commented on #22
I've put the sample inside an **F#** console application bound to runtime 3.1 (and before 4.0). This is the output before it crashes:
![stanford-nlp-dotnet_crash](https://cloud.githubusercontent.com/assets/1194228/9424606/4aef5e0e-48f2-11e5-9690-c2668303d225.png)
Hope it can help.
If need I post something, just ask me.

[2015-08-24 07:32] gsscoder commented on #22
I asked help on S.O. and they helped. Hope this can help someone other too:
http://stackoverflow.com/questions/32163400/typeinitializationexception-when-running-stanford-nlp-corenlp-example.

Regards,
Giacomo

[2015-08-24 07:32] #22 closed

[2015-09-06 00:00] crack521 opened #23 "An unhandled exception of type 'System.TypeInitializationException' occurred"
Hello, I am trying to run through your example code, and I ran into this error:
An unhandled exception of type 'System.TypeInitializationException' occurred in stanford-corenlp-3.5.2.dll
Additional information: The type initializer for 'edu.stanford.nlp.util.Timing' threw an exception
I copied your example exactly, and I am using 3.5.2. What could I be doing wrong?

[2015-09-06 05:30] sergey-tihon commented on #23
Please try to turn of SUTime
[code]

[2015-09-09 02:25] crack521 commented on #23
I changed the value of props as you suggested,but this error occurred again,What could I be doing wrong?

[2015-09-09 03:41] danielhokanson opened #24 "Loading Sample Models from relative web location(ASP.NET Web API OWIN 2.0) - C# -- What Now?"
I have been attempting to load the default models I pulled from the suggested ZIP file. Generally, I am loading the annotation into a singleton at the application level so the resources can be shared across all sessions. (in WebAPI OWIN Startup, this is being called from startup.cs).

Trying other methods with relative path references, I was getting this error:
[code]

I am not sure if I am gettin

[2015-09-10 07:39] sergey-tihon commented on #23
Could you pleas paste your source code here? (I was able to run it)

[2015-09-10 07:45] sergey-tihon commented on #24
@danielhokanson Could you please try to set one more additional property
[code]

[2015-09-11 09:02] crack521 commented on #23
java.util.Properties props = new java.util.Properties();
            var jarRoot = @"E:\codehub\java\stanford-corenlp-full-2015-04-20\stanford-corenlp-full-2015-04-20\stanford-corenlp-3.5.2-models\";
            var modelsDirectory = jarRoot + @"\edu\stanford\nlp\models";
            props.setProperty("annotators", "tokenize, ssplit, pos, lemma, ner, parse, dcoref");
            props.setProperty(

[2015-09-11 09:04] crack521 commented on #23
When the program runs,it occurs errors in the line of
"  StanfordCoreNLP pipeline = new StanfordCoreNLP(props);"
An unhandled exception of type 'System.TypeInitializationException' occurred in stanford-corenlp-3.5.2.dll Additional information: The type initializer for 'edu.stanford.nlp.util.Timing' threw an exception

[2015-09-25 12:57] toncho11 commented on #23
Change the culture in .NET to "US".

[code]
I had the same problem. On 2 computers it works fine and on 2 other it does not. So I figured it was something in the environment related to time, so I changed the culture. I am working with the POS tagger for French text.

[2015-09-26 00:15] roschler opened #25 "Large number of errors during build"
I just did a Git pull to get the latest full source.  I am getting a large number of errors and warnings when I try to build the solution with Visual Studio 2013 Ultimate, Update 4:
# Errors:

Error   89  Lookup on object of indeterminate type based on information prior to this program point. A type annotation may be needed prior to this program point to constrain the type of the object. This may

[2015-09-26 10:07] sergey-tihon commented on #25
You need to run `build.cmd` in the root folder to build everything first time.

[2015-09-26 10:12] adeperio opened #26 "Scores for tagged NER results?"
Hi Sergey,

Great work on this port by the way!

I'm using the Sandford CoreNLP.NET module and its CRFClassifier to find Named Entities in a document. I am able to get the entities by using classifyWithInlineXML, but would you know how to get the entities along with their relevance/confidence scores (0-1)?

Would love an example in C# on how to do this.

[2015-09-26 16:03] roschler commented on #25
Hi Sergey,

Thanks that helped.  After Paket was done, there were several dialog boxes from the F# type security manager asking me to enable various F# types.  I clicked "Enable" on each of them and then was able to build.

I ran the sample project Standford.NLP.Parser.CSharp.  It appeared to work, parsing a single sentence and dumping the parts-of-speech tree to the console.  Then it exited.  How

[2015-09-26 16:10] sergey-tihon commented on #25
@volhav What do you know about these exceptions in C# project?

[2015-09-26 16:11] sergey-tihon commented on #26
You asked this question on SO
http://stackoverflow.com/questions/32796011/scores-for-tagged-ner-results-in-the-standfordcore-nlp-net-library (I posted my suggestion there)

Maybe @volhav may help with C# sample?

[2015-09-27 12:31] crack521 commented on #23
@toncho11  Thanks a lot!

[2015-09-27 16:15] sergey-tihon commented on #23
@toncho11 Thank you for help.
@crack521 Please close this issue if the it is resolved

[2015-09-28 01:15] #23 closed

[2015-10-05 00:36] Davtomas opened #27 "Why so many warning and exceptions?"
I follow the example and get the expected results, However, it takes a long time to get the expected results. Why?
http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordParser.html

[code]

[2015-10-05 00:44] Davtomas opened #28 "Why so many warning and exceptions?"
I follow the example and get the expected results, However, it takes a long time to get the expected results. Why?
http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordParser.html

[code]

[2015-10-05 00:49] Davtomas opened #29 "Please distribute c# console projects running the different samples"
I agree with many different issues participants here.
We follow the sample codes. Although we get 80% of the expected outputs. There are so so so long exceptions list on the output DURING RUNNING that we wonder what else we could have done wrong.

Could you please kindly provide the sample codes in project files so we also understand how you arrange the model directory in optimum ways.

Why, I am

[2015-10-05 01:09] Davtomas commented on #28
http://osdir.com/ml/java-ikvm-devel/2010-05/msg00047.html

[2015-10-05 01:09] #28 closed

[2015-10-05 12:56] roschler commented on #25
Any news on this issue?

[2015-10-05 16:10] #27 closed

[2015-10-05 21:14] sergey-tihon commented on #28
Could you run https://github.com/sergey-tihon/Stanford.NLP.NET/tree/master/samples/Stanford.NLP.Parser.CSharp ?
It works fast on my machine and without exceptions
![stanford nlp](https://cloud.githubusercontent.com/assets/1197905/10293784/1bd730f2-6bbf-11e5-9722-7d10ff3bd2b6.gif)

[2015-10-05 21:18] sergey-tihon commented on #25
@roschler I cannot understand where all these exceptions from ...
Build log on AppVeyor is clear enough https://ci.appveyor.com/project/sergey-tihon/stanford-nlp-net

[2015-10-06 11:48] Davtomas commented on #28
I turn off all debugging information. The long time taken because I created a winform application which provides testing to all c# examples. As a results, lot of time taken to load these IKVM converted dlls.
Once these dlls are loaded. parsing each sentence is as fast as what is shown by sergey.

It is not trivial to build and test these stanford.NLP.net dll. Sergey has done a good job.

I read th

[2015-10-06 12:14] #29 closed

[2015-10-07 04:43] roschler commented on #25
@sergey-tihon They happen when I run the test project and it parses a sentence.  The execution of build.cmd executed properly.  But when I *run* the test project, I get the long list of Exceptions above.

[2015-10-07 16:38] Davtomas opened #30 "Stanford.NLP.NET/StanfordWordSegmenter.html cSharp fails"
https://sergey-tihon.github.io/Stanford.NLP.NET/StanfordWordSegmenter.html

I create a console project, use nuget to install the segmentation library. I hope this naturally install all other relevant dependent ikvm library.

Copy and past the code and modify to include the right model and test file directoriy

The program fails ONLY AT THIS STEP:
segmenter.loadClassifierNoExceptions(segmenterData

[2015-10-07 16:40] Davtomas commented on #30
The model directory ends with    \stanford-segmenter-2015-04-20\data\";

[2015-10-07 21:15] sergey-tihon commented on #30
Plz try to add these 3 lines
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.Segmenter.FSharp.Tests/Segmenter.fs#L23-L25
// cc @volhav

[2015-10-07 21:49] sergey-tihon commented on #30
hmm, no - you do not need these lines.
After small changes in sample from docs https://github.com/sergey-tihon/Stanford.NLP.NET/commit/dbe091b671cc677874675dd7a68dc22dc9eaab45
it should work like this
![segmenter](https://cloud.githubusercontent.com/assets/1197905/10352211/677ce798-6d56-11e5-9b4c-b5bfc81e3dcd.gif)

[2015-10-08 12:33] Davtomas commented on #30
I need c# sample to work. Please kindly check. So far, most of my problem involving ikvm converted jar to dll hangs will loading large size of model. any advice?

[2015-10-08 13:08] Davtomas commented on #30
The c# sample provide this on output window
The thread 0x35e8 has exited with code 259 (0x103).
The thread 0x1808 has exited with code 259 (0x103).
The thread 0x2d4c has exited with code 259 (0x103).
The thread 0x3d74 has exited with code 0 (0x0).

For more information to people debuging ikvm ported program
http://stackoverflow.com/questions/18887864/what-is-a-thread-exit-code

[2015-10-08 13:59] Davtomas commented on #30
Finally, I get the output. Problem, it takes not 20+ seconds like in running java, but 15+ minutes. Not sure why. Second, the output is in wrong encoding.
闈㈠ 鏂?涓栫邯 锛?涓栫晫 鍚?鍥?浜烘皯 鐨?鍏卞悓 鎰挎湜 鏄?锛?缁х画 鍙戝睍 浜虹被 浠ュ線 鍒涢€?鐨?涓€鍒?鏂囨槑 鎴愭灉 锛?鍏嬫湇 20 涓栫邯 鍥版壈 鐫€ 浜虹被 鐨?鎴樹簤 鍜?璐洶 闂 锛?鎺ㄨ繘 鍜屽钩 涓?鍙戝睍 鐨?宕囬珮 浜嬩笟 锛?鍒涢€?涓€ 涓?缇庡ソ 鐨?涓栫晫 銆?

Perhaps, there is something wrong with loading the model file due to my window 8 s

[2015-10-08 14:00] #30 closed

[2015-10-08 14:17] sergey-tihon commented on #30
x32 ок x64 ? Could you try to build you app in Release mode for x32 arch?

[2015-10-08 14:53] Davtomas commented on #30
could you send me a simple console zip file of compiled c# segmentation sample for me to diagnose what is wrong with my windows 8 visual studio 2013 issues ?

[2015-10-08 14:54] Davtomas commented on #30
I have compiled x64 release, it has been more than 10+ minutes, I am still waiting for the output

[2015-10-08 15:09] sergey-tihon commented on #30
would be interesting to compare it with the same code compiled for x32

[2015-10-08 15:12] Davtomas commented on #30
Not sure I understand your rationale for doing so. I have started to move to java, abandoning .NET for stanfordNLP as I could not figure out the problem. Thanks for your help

[2015-10-08 15:22] Davtomas commented on #30
May be this could help others learning Stanfordnlp:NET - contributed by you
https://visualstudiogallery.msdn.microsoft.com/540ac2d8-f881-4794-8b00-810d28257b70

[2015-10-12 07:56] volhav opened #32 "CoreNLP c# sample fails on 'ner' load"
I faced the following issue with old CoreNLP c# sample:

[code]

fails on loading 'ner'. I have removed ner and dependent dcoref and sample worked fine.

Could you please check what is wrong with 'ner' or it was my environment issue? (New c# sample contains my comment about this issue and needed to be reverted if it's local problem)

[2015-10-12 10:29] Davtomas commented on #32
I persevere learning StanfordNLP.net. Finally it pays off.
I have tested the latest c# sample code on CoreNLP. It works.  Thanks sergey for timely support.

[2015-10-12 10:36] Davtomas commented on #32
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/samples/Stanford.NLP.CoreNLP.CSharp/Program.cs

//ner fails -> dcoref depends on ner

this issues has been discussed before in one of the closed issues. This has to be included.
props.setProperty("ner.useSUTime", "false");

[2015-10-12 10:43] Davtomas commented on #30
I solved my problems.

I changed the testfile to avoid this. It has to do with my Windows 8 settings. Using new Chinese textfile or textstring defined in the code, I get the expected results.

Below only happens to the provided testfile. Have not figure out why yet.

闈㈠ 鏂?涓栫邯 锛?涓栫晫 鍚?鍥?浜烘皯 鐨?鍏卞悓 鎰挎湜 鏄?锛?缁х画 鍙戝睍 浜虹被 浠ュ線 鍒涢€?鐨?涓€鍒?鏂囨槑 鎴愭灉 锛?鍏嬫湇 20 涓栫邯 鍥版壈 鐫€ 浜虹被 鐨?鎴樹簤 鍜?璐洶 闂 锛?鎺ㄨ繘 鍜屽钩 涓?鍙戝睍 鐨?宕囬

[2015-10-12 19:15] volhav commented on #32
Thanks @Davtomas. I have updated the sample to avoid confusion

[2015-10-12 19:19] #32 closed

[2015-10-19 07:28] JimSEOW opened #34 "new ideas for c# samples"
https://medium.com/@klintcho/training-a-swedish-pos-tagger-for-stanford-corenlp-546e954a8ee7

[2015-10-19 07:29] Davtomas commented on #5
good idea

[2015-10-19 07:29] Davtomas commented on #4
good idea for c# sample

[2015-10-19 07:30] Davtomas commented on #14
this issue should be closed

[2015-10-19 07:32] sergey-tihon commented on #34
@Davtomas Do you want to create PR with C# sample for this?)

[2015-10-19 07:36] Davtomas commented on #34
The stanfordnlp.NET you started is a good platform for others to share
http://stackoverflow.com/questions/15609324/training-n-gram-ner-with-stanford-nlp

[2015-10-19 07:37] #14 closed

[2015-11-03 17:00] falkindustries opened #35 "How to get only the tags of the POS Tagger?"
Hello sergey-tihon,

really good work! I managed to get the example in c# (VS2015) to work. Now i want to get only the tags of the POS Tagger.
var text = "Ich. Du. Machen. Legen. Hans. Peter.";
normal output with Console.WriteLine(Sentence.listToString(taggedSentence, false))
"Ich/PPER ./$. Du/PPER ./&. Machen/VVINF ./$. Legen/VVINF ./$. Hans/NE ./$. Peter/NE ./$"

with Console.WriteLine(Sentence.

[2015-11-03 17:14] sergey-tihon commented on #35
You can analyze your parse tree (`Tree` object) recursively
`.label()` - returns label of the current node
`.isLeaf()` - returns `true`/`false` if it is leaf or not
`.getChildrenAsList()` - returns children nodes
Here you can find [my F# sample](http://sergey-tihon.github.io/Stanford.NLP.Fsharp/so_questions.html)

Just [DFS](https://en.wikipedia.org/wiki/Depth-first_search) the tree and print what

[2015-11-04 16:57] falkindustries commented on #35
Thank you for your fast reply!. I checked the links and tried your parser code example in c#.
I thought there would be a list which contains only the tags or something like that.
Now i think its easier to search in tagged sentences for the wanted tag (eg. "VMPP") and extract/count them for further analyse -> Problem solved.

Thank for your help!

[2015-11-04 16:57] #35 closed

[2015-11-10 18:32] xiaoyi78 opened #36 "Issue on creating annotation on DateTime text Phase (e.g. last year)"
Hi,

I'm experiencing the issue on creating annotation on DateTime text phase, e.g. 'Last year'. It works for other text except any DateTime text phase.  The strange thing is it works under 'Debug' configuration, but not under 'Release' configuration.

I'm using Stanford.NLP.CoreNLP 3.5.2 version. I appreciate if you could shed some light on this.

The error message is  below:  ( This error was re

[2015-12-14 15:46] mavnn opened #37 "Error parsing on Mono"
On trying to setup a pipeline for sentiment analysis on mono, mono crashes during the parsing phase.

Full repro and stack trace available at https://github.com/mavnn/Advent2015-trial; you should be able to clone that repository and reproduce. The stacktrace starts with:

[code]

This is the first time I've used Stanford NLP, so it is entirely possible that I'm at fault here.

[2015-12-14 19:30] sergey-tihon commented on #37
@mavnn not related to your issue, but paket can restore all model for you and unzip them without `bootstrap.fsx`
See here https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/paket.dependencies

[2015-12-14 20:47] sergey-tihon commented on #37
Everything work nicely on Windows =(

But, could you please try to comment two files
[code]
my [Stanford.NLP.NET landing page](http://sergey-tihon.github.io/Stanford.NLP.NET/) says that

`CoreNLP` package is super-set of all Stanford packages, so reflection on `Mono` may be confused when find same types in different assemblies.

[2015-12-15 06:21] mduggan commented on #16
For anyone else who has this problem (which also comes up in the Java version), it seems the underlying cause is too small a stack in the JVM.

The quick fix is to increase the JVM stack size (eg, `-Xss40m`), as noted in this question:
https://stackoverflow.com/questions/7509905/java-lang-stackoverflowerror-while-using-a-regex-to-parse-big-strings

Large alternate regexes need lots of stack in Jav

[2015-12-15 09:15] sergey-tihon commented on #16
@mduggan How to do it with IKVM?

[2015-12-15 09:57] mavnn commented on #37
I changed to using the paket file dependencies (thanks, hadn't realised about the unzipping) but that doesn't seem to unzip the jar of the models.

I now seem to have two problems: if I run the full example I get

[code]
If I remove "pos" from the pipeline for testing, I get:

[code]
If I unzip the jar file with the models I get back to the old stack trace.

Looks like there's something different

[2015-12-15 13:59] mduggan commented on #16
@sergey-tihon It may depend on the .NET runtime you're using, but you should be able to create a new Thread specifying a slightly larger stack, which should be enough to get through this particularly deep recursion.  Large stacks may be ignored in MS .NET runtime though.

Some refs:
https://stackoverflow.com/questions/19817790/stack-size-under-mono
https://msdn.microsoft.com/en-us/library/5cykbwz4

[2015-12-23 09:59] sergey-tihon opened #38 "Update to version 3.6"

[2015-12-29 11:39] #38 closed

[2016-01-03 12:38] warpech opened #39 "SentimentCoreAnnotations returns null"
Hi! I have managed to run the examples on the website, but I am missing an example for sentiment analysis. I have found an example here: http://stackoverflow.com/questions/31832387/using-stanford-nlp-lib-in-c-sharp-while-trying-to-get-sentiment-positive-nega, but it doesn't work for me.

After adapting it to a C# class, I ended up with code that compiles:

[code]

[code]

The problem that I have i

[2016-01-03 12:52] warpech commented on #39
Screenshot: ![image](https://cloud.githubusercontent.com/assets/566463/12078827/1fe402c6-b221-11e5-8690-48c3190de219.png)

[2016-01-03 14:09] warpech commented on #39
Leave me alone and I will figure it out :) The problem was that I didn't load the sentiment annotator.

Instead of:

[code]

Should be:

[code]

[2016-01-03 14:09] #39 closed

[2016-01-03 14:16] sergey-tihon commented on #39
Cool, this demo may be also interesting to you https://github.com/evelinag/SentimentAnalysisDemo

[2016-01-03 14:55] warpech commented on #39
Thanks! It's really helpful

[2016-01-06 08:34] sergey-tihon opened #40 "Analyze performance of Stanford.NLP.NET"
1) Compare performance of `x86` vs `x64`
2) [SentimentHelper.cs](https://gist.github.com/warpech/3223abd038cf8140f8da) + [tweet](https://twitter.com/warpech/status/683731452194852869)

[2016-02-15 13:02] siddhupiddu opened #41 "sutime sample code throws exceptions"
I am getting the following exception while running the sutime sample code. I have included all the dlls. Do you have any suggestions?

An exception of type 'System.TypeInitializationException' occurred in stanford-corenlp-3.6.0.dll but was not handled in user code

Additional information: The type initializer for 'edu.stanford.nlp.time.XMLUtils' threw an exception.

[2016-02-15 20:32] siddhupiddu commented on #41
More detail. The innerexception in the typeinitializationexception is:

{javax.xml.transform.TransformerFactoryConfigurationError: Provider com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl not found}

I have installed the corenlp nugget and I believe all the IKVm java dlls are there

[2016-02-16 08:54] #41 closed

[2016-02-16 09:13] sergey-tihon commented on #41
@siddhupiddu Hi, could you please post the solution for this issue?

[2016-02-16 11:12] ro-mathew opened #42 "Coreference resolution always Null when emulating PrettyPrint"
First off: great work with the port

I'm running into an issue with correference resolution: I'm trying to produce the same output as prettyPrint and I'm almost there ... but struggling with outputting the correference line at the end:

[code]

For the record I can get other annotations fine. But am running into some issues:
Map<Integer, CorefChain> graph = document.get(CorefChainAnnotation.class)

[2016-02-17 21:28] siddhupiddu commented on #41
Hi Sergey,
The problem was with the IKVM. I had not correctly installed IKVM.
Reinstalling the nugget package fixed it.

Thanks!

On Tue, Feb 16, 2016 at 1:13 AM, Sergey Tihon <notifications@github.com>
wrote:

[2016-02-18 01:26] ro-mathew commented on #42
I had some further luck using hcoref instead of dcoref.

[code]

[2016-02-21 02:27] siddhupiddu commented on #26
Can you share a c# sample? I am having problems with emulating the java code to c#

[2016-02-24 23:08] danielhokanson commented on #24
This appears to work. Thank yoiu

[2016-02-24 23:08] #24 closed

[2016-02-28 19:18] mehmetilker opened #43 "dependency parser problem in asp.net app"
Everthing works fine with all annotators in console application but I got this exception when I try on asp.net mvc.
If I remove depparse  it works. So the problem is depparse on asp.net or it is same for parse annotator too.

Is there any setting I need to change ?

![image](https://cloud.githubusercontent.com/assets/279289/13381264/81b35fcc-de60-11e5-8159-1a86ce3fb328.png)

The code is as follows

[2016-02-28 19:31] sergey-tihon commented on #43
__Option 1__ Try IIS (not IIS express) - https://github.com/sergey-tihon/Stanford.NLP.NET/issues/15#issuecomment-77526331

__Option 2__ Try to increase stack size - https://github.com/sergey-tihon/Stanford.NLP.NET/issues/16#issuecomment-164655567

[2016-02-28 20:34] mehmetilker commented on #43
Thank you for your quick reply.
I could not try on my local but it worked on Azure.
So it is a problem related with IIS Express I assume.

I would like to add another observation.
When I comment out this line:
`pipeline.annotate(document);`
and add this part (from another issue thread)

`string result = "";
            using (java.io.StringWriter writer = new java.io.StringWriter())
            {

[2016-02-28 20:34] #43 closed

[2016-02-29 09:05] mehmetilker commented on #43
I would like to add some observations..

As I see leaving IIS express is some cumbersome just for this problem I tried to increase stack size with utilizing Thread class  but unfortunately it is not possible to handle return value in asp.net project.
Other option is Task.Run but there is no way to set maxStackSize...

`  new System.Threading.Thread(() =>
            {

            ......

[2016-02-29 12:07] mehmetilker commented on #43
For those who is wondering a simple solution:

By default II express is working in 32 bit mode.
And according to this article https://support.microsoft.com/en-us/kb/932909
" In Windows Server 2008 and higher, the maximum stack size of a thread running on 32-bit version of IIS is 256 KB, and on an x64 server is 512 KB."
All we need is little bit higher then 400K for depparse annotator.

So we can s

[2016-02-29 12:23] sergey-tihon commented on #43
Thank you @mehmetilker !

[2016-02-29 18:09] mehmetilker commented on #43
You are welcome @sergey-tihon. Thank you for your effort.

[2016-03-11 20:21] Nodice opened #44 "Exception Thrown when trying to use NLP Simple CoreNLP"
1.6.0 Simple reference here: http://stanfordnlp.github.io/CoreNLP/simple.html#simple-corenlp

Exception Thrown at: `Document doc = new Document(inText)`

[code]

[2016-05-03 13:14] atrauzzi opened #45 "Plans to add .NET Core support?"
As seen here: https://dotnet.github.io/

[2016-05-03 13:49] sergey-tihon commented on #45
It is question to @jfrijters
everything depend on plans to port [IKVM.NET](http://www.ikvm.net/)
https://sourceforge.net/projects/ikvm/

[2016-05-09 07:39] hendyharf opened #46 "Object reference not set to an instance of an object issues (Dependency Parser)"
Currently I'm building a web application to extract the subjects, predicates, and objects of the sentences with Stanford CoreNLP (Dependency Parser). My solution so far contains two projects, NLP (Console Application) and the WebApp (C# ASP.NET-MVC EF) itself.

I have a View called Create that contains an input text box and a button.

[code]

It will parse the sentence to the Create function insid

[2016-05-09 08:05] sergey-tihon commented on #46
I think that it is stack size issue:

Please try to switch to `64bit` version of IISExpress - https://github.com/sergey-tihon/Stanford.NLP.NET/issues/43#issuecomment-190186401

Or deploy to real IIS - https://github.com/sergey-tihon/Stanford.NLP.NET/issues/15#issuecomment-77526331

[2016-05-09 08:30] hendyharf commented on #46
I've just changed to 64 bit. I don't know if it's working or not, but I get another issue:

`Could not load file or assembly 'slf4j-api, Version=1.7.2.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.`

error here:
`var lp = LexicalizedParser.loadModel(modelsDirectory + @"\lexparser\englishPCFG.ser.gz");`

What's wrong?

[2016-05-09 10:19] sergey-tihon commented on #46
Not sure about the reason, this `dll` is in NuGet package.
What NuGet packages you referenced? Your code from the sample for `Stanford.NLP.Parser` but you use it with `Stanford.NLP.CoreNLP`.
You definitely should not refernce both packages from NuGet.

[2016-05-09 10:52] hendyharf commented on #46
I'm using only `Stanford.NLP.CoreNLP`. But anyway this is already working! But why it takes so much times to me, like 23seconds? A lot of exception `A first chance exception of type 'java.lang.NoSuchFieldException' occurred in IKVM.OpenJDK.Core.dll` and
`A first chance exception of type 'java.lang.NoSuchMethodException' occurred in IKVM.OpenJDK.Core.dll`. Is there anything wrong with it?

[2016-05-10 06:00] sergey-tihon commented on #46
Model initialization if long operation and you probably should not do it on each call.

[2016-05-12 00:59] hendyharf opened #47 "An unhandled exception of type 'System.StackOverflowException' occurred in IKVM.OpenJDK.Core.dll"
I've got an error `An unhandled exception of type 'System.StackOverflowException' occurred in IKVM.OpenJDK.Core.dll` with this line code:
**pipeline.annotate(annotation);**

It works fine when I compile Stanford CoreNLP with ConsoleApp, but it's getting serious problem when I integrate it with WebApp. I'm using Visual Studio 2013. I've already marked up the Options -> Project and Solution -> Web P

[2016-05-12 00:59] #46 closed

[2016-05-12 04:48] sergey-tihon commented on #47
What about 64bit version of IIS Express?
https://github.com/sergey-tihon/Stanford.NLP.NET/issues/46#issuecomment-217800803

[2016-05-13 06:59] hendyharf commented on #47
I'm not sure how to do that. Any references? Is it something like this?

           new System.Threading.Thread(() =>
            {

            ......

                pipeline.annotate(document);
           ......
            }, 414565).Start();

Do I have to write my own code under `pipeline.annotate(document);` until close the brackets of the Thread? Or the thread code only until `pipeline.ann

[2016-05-13 07:09] mehmetilker commented on #47
@hendyharf can you try without parse annotator ? If you are getting same error your problem can be something other then stack size problem.

If it works then check that your IIS Express is really working in 64bit mode. If your OS is 64 bit, alternatively you can try IIS (as a core windows service)...

[2016-05-13 08:19] hendyharf commented on #47
@mehmetilker I've just tried to parse it without annotator

`props.setProperty("", "tokenize, ssplit, parse");`

It took for ages, like 15 minutes for me parse without annotator and it also didn't work at all.
I debugged whether which line of code was being executed and it didn't execute after `Directory.SetCurrentDirectory(jarRoot);`. Not working from `var pipeline = new StanfordCoreNLP(props);`

[2016-05-13 08:46] mehmetilker commented on #47
@hendyharf annotators are tokenize, ssplit and parse. So you should remove just parse.
it should be like this: props.setProperty("annotators", "tokenize, ssplit");

[2016-05-13 08:52] hendyharf commented on #47
@mehmetilker I got it, but exactly what I really want to do with Stanford CoreNLP dependency parser, so I need to write the "parse". Any other ideas? I still can't figure it out.

[2016-05-29 07:16] hendyharf commented on #47
Hey @sergey-tihon @mehmetilker I've already had the answer for this issue. I'm doing this with Local IIS and it works sometimes, I still got the StackOverflowException. How am I supposed to do to make a larger size stack? The code you've given it doesn't work. It's not returning anything if I write inside the thread. Any other code? I'm stuck with this 3 weeks. Thanks

[2016-05-29 13:25] mehmetilker commented on #47
I guess you need first check if your OS 64bit.
After that you need  to be sure if your IIS express is working in 64bit mode.
http://stackoverflow.com/questions/10202047/cant-get-iis-express-8-beta-to-run-website-as-64-bit-process
It looks like it is not possible before VS 2013
https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/3254745-allow-for-iis-express-64-bit-to-ru

[2016-05-29 13:26] mehmetilker commented on #47
Another setting for 64bit IIS Express
https://blogs.msdn.microsoft.com/rob/2013/11/14/debugging-vs2013-websites-using-64-bit-iis-express/

[2016-08-10 21:22] R2dical opened #48 "Timex not converting to actual time"
I have the following code:

<pre style="font-family:Consolas;font-size:13;color:gainsboro;background:#1e1e1e;">
<span style="color:#57a64a;">//&nbsp;Path&nbsp;to&nbsp;the&nbsp;folder&nbsp;with&nbsp;models&nbsp;extracted&nbsp;from&nbsp;`stanford-corenlp-3.6.0-models.jar`</span>
<span style="color:#569cd6;">var</span>&nbsp;folderPath&nbsp;<span style="color:#b4b4b4;">=</span>&nbsp;<span style="color

[2016-08-20 20:59] sergey-tihon commented on #48
@R2dical I really recommend to repeat the question on SO - http://stackoverflow.com/questions/tagged/stanford-nlp

This project is for recompiling `*.jar`s to `*.dll`s, and all questions like "How to write in C# the following Java code".

Sorry, I do not know answers on all `Stanford.NLP` question like "Why it works so".

[2016-08-20 20:59] #48 closed

[2016-09-16 16:23] nefcanto opened #49 "Can we have a sample for simple API usage?"
The samples existing in the samples directory are good to start. Yet as soon as I change from them, because of the lack of documentation, I encounter many weird Java exceptions and I can't find the problems through searching.

Can we have a sample for simple API calls? I'm talking a sample for this URL:
[http://stanfordnlp.github.io/CoreNLP/simple.html](http://stanfordnlp.github.io/CoreNLP/simple.

[2016-09-25 11:43] sergey-tihon commented on #49
Sample is available [here](http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordSUTime.html) for example.
It is a little bit tricky, but you have to create instance of annotation class and call `.getClass()`.
[code]
more
[code]

[2016-09-26 06:57] nerzid commented on #44
I've the same issue.

[2016-09-26 07:38] nerzid commented on #44
I've just solved this issue via adding the following dependency to pom.xml
[code]

[2016-09-26 07:51] sergey-tihon commented on #44
Wow... CoreNLP uses `pom.xml` to load dependencies ... Very strange!
Are you sure that you use `.NET` version of `CoreNLP` ?)
In which directory you created `pom.xml` file? (I do not ship it with NuGet package)

[2016-10-05 13:11] ErikOmberg opened #50 "openie.resolve_coref bug in 3.6.0 release"
The bug detailed here is also in the current Nuget release:
http://stackoverflow.com/questions/35921678/stanford-openie-with-option-openie-resolve-coref-dont-work

The stackoverflow post sounds like it's fixed on the Stanford GitHub head, but not yet in the official maven release. Do you do updates occasionally to the GitHub head, or do you only update when there's an official maven release?

If y

[2016-10-05 13:55] sergey-tihon commented on #50
I do updates directly from ` http://nlp.stanford.edu/`
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/paket.dependencies#L14-L18
I do not compile Java here at all.

Do you know when next release will be? It should be really soon.

[2016-10-06 11:45] rbwater opened #51 "Problem while trying to run corenlp example as a Forms application"
Hi,

Not sure if this is the right place to ask this type of question but hopefully you can help.  I was trying to run the coreNLP example as a Forms application rather than a Console application.  It fails to compile because there is a conflict between the java Properties class and a pre-existing C# Properties class at this line: var props = new Properties();. I think this can be resolved by refe

[2016-10-06 12:13] sergey-tihon commented on #51
use probably use following three
[code]
`Properties` should be in `edu.stanford.nlp.pipeline`

[2016-10-06 14:47] diegolinan opened #52 "Cannot load Models"
I have tried to load the models for the new release as the the source code (very short, very undocumented) that is posted on the initial page states.
I have unziped the

and I can't get pos to work. when removing flags (to at least try to make this thing work) I can only get "tokenize" and "ssplit" to work. When I remove flags and get to "dcoref" I get the following message:

An unhandled exceptio

[2016-10-06 14:47] sergey-tihon commented on #50
@stanfordnlp when do you plan next release of `CoreNLP` ?

[2016-10-06 14:52] sergey-tihon commented on #52
`jarRoot` should point to the root directory that contains file `edu/stanford/nlp/models/dcoref/demonyms.txt`.

In other words, `edu/stanford/nlp/models/dcoref/demonyms.txt` should be resolvable as relative path from `jarRoot` directory

[2016-10-06 15:03] diegolinan commented on #52
Same applies to all the rest?

[2016-10-06 15:08] rbwater commented on #51
Thanks for getting back to me so quickly and thanks for the hint.  It turned out that Properties is in the java.util so var props = new java.util.Properties(); worked.
RB

[2016-10-06 15:08] #51 closed

[2016-10-06 15:20] diegolinan commented on #52
I have placed my model files like this:
![image](https://cloud.githubusercontent.com/assets/2962970/19158431/0e8012fe-8bbf-11e6-97d7-c21a00d24a92.png)

And still, with this code, I get that some files are missing...

[code]

should I use and older model...?
Which one are you using?

[2016-10-06 21:30] sergey-tihon commented on #52
if your case `jarRoot` should be `c:\\nlp\\`.

Basically you have 2 options:
1) unzip `jar` and point `jarRoot` to the place where you extracted files from `jar` (and change current directory
2) specify path to each model manually - https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.fs#L96

[2016-10-07 12:17] diegolinan commented on #52
I've gone with a mix of the latter and some other stuff. For those out there with the same issue:

1) Copy the whole "edu" folder and its subfolders to your Visual Studio project
2) Go through each of the folders (ALL OF THEM) and select all the files you find on each folder and include them as "content" in your project. Select also the "Copy if newer" option, like so:

![image](https://cloud.gith

[2016-10-07 12:29] sergey-tihon commented on #52
Does it mean that this issue is fixed?

[2016-10-07 13:52] diegolinan commented on #52
Well... I think it just means that there is a workaround to it at least. I could never make it work with the example on the stanford page though. So I leave it to you to decide (-:

[2016-10-07 13:52] #52 closed

[2016-10-07 14:31] sergey-tihon commented on #52
Why not? If you do not include models in project and do not copy them during build... everything is simple:
1) [Unzip to some folder](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/Config.fs#L4)
2) Change current directory temporary during model loading.

it is simple, is not it?

[2016-10-07 16:07] diegolinan commented on #52
It shoudl, yes. I really don't know what to tell you... I tried it that way and it didn't work. Always a file was missing or it was unable to bind the models... Maybe I am doing something wrong, but I did it as you described and as it was on the provided example and it did not work for me.

[2016-10-07 16:29] sergey-tihon commented on #52
You mentioned new release, where did you get it from?

[2016-10-07 16:50] diegolinan commented on #52
These are the latest for english
http://nlp.stanford.edu/software/stanford-english-corenlp-2016-01-10-models.jar

[2016-10-12 10:45] kibblewhite opened #53 "Training Custom Entity Relations"
Hello,

Thanks so much for making this possible through .Net, I currently have custom entities working and tested. For example, I've managed to train it to know that 'Micheal Jackson' is an 'artist' and to ignore other names that I'm not interested in. I've also got it to know that when talking about 'Thriller' that it knows to label it as entity type 'album'.

However, I'm now to a point where I

[2016-10-12 12:18] sergey-tihon commented on #53
Would be better to [ask it on SO](http://stackoverflow.com/questions/tagged/stanford-nlp), here I may answer on Java->C# code conversion issues.

Also you may look at [TokensRegex](http://nlp.stanford.edu/software/tokensregex.html) it may be somehow useful for your case. JFYI we have TP for TokenRegex - https://github.com/statmuse/TokensRegexProvider

[2016-10-12 12:20] kibblewhite commented on #53
Got it, thanks for that. I'll have a look, and if I'm not able to resolve it, I'll post the same thing up on Stack Overflow and report back. Awesome :)

[2016-10-12 16:19] kibblewhite commented on #53
Going through the Sack Overflow, looks like this may not be possible due to this bit of code found at:
`private static String edu.stanford.nlp.ie.machinereading.domains.roth.RothCONLL04Reader.getNormalizedNERTag(String ner)`

Found it here - http://stackoverflow.com/questions/34922368/how-to-make-the-custom-relationshipextractor-understand-custom-entities/38814333#38814333

I also agree with 'test

[2016-10-18 18:10] zanek opened #54 "StanfordCoreNlp object hangs when loading NER classifiers"
This is quite odd. If I compile my project as 32-bit, it loads the classifiers just fine and everything works.

If I compile the project as 64-bit  it starts loading all the NER classifiers and and then hangs on the english.4class.conll.distsim.crf.ser.gz  model. Loading the models before that are really slow on 64-bit, but it never finishes loading the conll model (I've left it running for 30+ mi

[2016-10-18 19:18] sergey-tihon commented on #40
### x86 Execution

### x64 Execution

### AnyCpu Execution

[2016-10-18 19:19] sergey-tihon commented on #54
Just did a comparison on tests projects - I do not see such issue
https://github.com/sergey-tihon/Stanford.NLP.NET/issues/40#issuecomment-254610544

[2016-10-22 09:28] mehmetilker opened #55 "Multi word expressions"
Hi @sergey-tihon ,

Have you ever had a chance to try (convert to use in .Net) multi word expression annotator ?
https://github.com/toliwa/CoreNLP-jMWE

[2016-10-22 13:21] sergey-tihon commented on #55
No, never

[2016-10-22 13:48] sergey-tihon commented on #55
@rikace did you tried it?

[2016-10-31 17:37] ErikOmberg commented on #50
Looks like a beta 3.7.0.0 just came out:
http://stanfordnlp.github.io/CoreNLP/download.html
http://nlp.stanford.edu/software/stanford-corenlp-full-2016-10-30.zip

[2016-11-01 09:51] sergey-tihon commented on #50
First of all new KBP models are not win-friendly, so trick with changing current directory does not help you to load KBP models.  If you want to use them in beta version you have to specify paths to all model files manually. - https://github.com/stanfordnlp/CoreNLP/issues/293

The `3.7.0.0-beta` version is available on NuGet:
https://www.nuget.org/packages/Stanford.NLP.CoreNLP/3.7.0-beta

[2016-11-01 15:19] ErikOmberg commented on #50
Thank you very much for the update. The simple example is now working:
Obama was born in Hawaii. He is our president.

[2016-11-01 15:19] #50 closed

[2016-11-10 20:17] sartan commented on #44
FYI- supposedly will be fixed in CoreNLP 3.7.0

https://github.com/stanfordnlp/CoreNLP/issues/171#issuecomment-254599194

[2016-11-10 20:48] sergey-tihon commented on #44
@sartan you may verify it https://www.nuget.org/packages/Stanford.NLP.CoreNLP/3.7.0-beta

[2016-12-23 05:39] jsnreddy commented on #44
I have tried the StanfordCoreNLP 3.7.0 but I am still facing this problem. I have tried adding protobuf-java-3.0.2.jar to the classpath but still there is an error when trying to load coreNLP server.

Also tried 3.6.0 with the protobuf-java-3.0.2.jar in the classpath, I was facing the same problem there as well.

Is this fixed in the latest jar available for download. Or should I compile from the

[2016-12-23 07:20] sergey-tihon commented on #44
This repo is for Stanford.NLP.NET and version 3.7.0 is not available of NuGet yet.

[2016-12-29 01:40] siddhupiddu opened #56 "Difference in normalized entity between java and dot net versions"
I try this using jar files:

java -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLP -annotators "tokenize,ssplit,pos,lemma,ner"

The normalized named entity is correctly mapped to 2100.

THen I try the c# example here :
https://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html

I get 100000 as the normalized named entity.

Any help is appreciated :)

[2017-01-03 19:08] siddhupiddu commented on #56
Ping!

[2017-01-04 07:59] sergey-tihon commented on #56
This happened because NER by default uses SUTime that identify it like a `Date`

You can see it here - http://corenlp.run/
![image](https://cloud.githubusercontent.com/assets/1197905/21635040/5b3bd03a-d26c-11e6-9281-0408e7733cf9.png)

Most probably SUTime do this - http://nlp.stanford.edu:8080/sutime/process
![image](https://cloud.githubusercontent.com/assets/1197905/21635065/8a264a6a-d26c-11e6-99

[2017-01-04 11:07] siddhupiddu commented on #56
Thanks. This is awesome.

[2017-01-04 11:07] #56 closed

[2017-01-12 20:50] pburrows opened #57 "How do I do a new build?"
There are some very recent changes in the CoreNLP project that I would like to use (they were just made yesterday).

So I:
    got the latest java source and built a new stanford-corenlp.jar file.
    got the latest source of this project and did a normal build (bunch of failing unit tests by the way).
    replaced the existing stanford-corenlp-3.7.0.jar from the normal build with the new one I ju

[2017-01-13 07:55] sergey-tihon commented on #57
Hi,

All test should be green on these commit
https://github.com/sergey-tihon/Stanford.NLP.NET/tree/edbef331160253b2db786155fe669cb50c32573c

the `master` has problem on unzipping `jar` with models (because it contains files with invalid names for win) - https://github.com/stanfordnlp/CoreNLP/issues/293

Manual step: unzip `\paket-files\nlp.stanford.edu\stanford-corenlp-full-2016-10-31\stanford-co

[2017-01-13 18:21] sergey-tihon commented on #57
Build is green now, so no manual steps are required - https://ci.appveyor.com/project/sergey-tihon/stanford-nlp-net/build/0.0.1.60

[2017-01-13 20:34] pburrows commented on #57
Hey thanks, I'll try it out. Wound up setting up a Java dev environment to try out the fix and I couldn't get it to work there either. So I think more work needs to be done anyway (or my understanding needs to expand). Here's the issue at CoreNLP if it matters: https://github.com/stanfordnlp/CoreNLP/issues/338

Again, thanks for your response!

[2017-01-17 15:09] pburrows commented on #57
I was able to pull the latest CoreNLP and make a new build. Thanks for your help!

[2017-01-17 15:09] #57 closed

[2017-02-16 11:22] sdg002 commented on #34
Very useful. Thank you for doing this work.

[2017-02-16 11:43] sdg002 commented on #34
Subject: POS results of C# different from the online version

Hi All,
I tried parsing the following sentence using the online page hosted here(http://nlp.stanford.edu:8080/parser/index.jsp).
and compared the with the results I get from my custom application.

**Test string:**
The Vendor must not resell,sell, rent, lease, loan, supply, distribute, redistribute, publish or re-publish the Software.

[2017-02-16 11:49] sergey-tihon commented on #34
@sdg002 Comare versions

Latest version on NuGet is 3.7.0 published at `2016-10-31`
Site still use
[code]

It may be difference in versions or in loaded parser (models)

[2017-02-16 11:59] sergey-tihon commented on #34
Results from http://nlp.stanford.edu:8080/corenlp/process
![screen shot 2017-02-16 at 2 58 18 pm](https://cloud.githubusercontent.com/assets/1197905/23020494/6ba8df7c-f458-11e6-94e4-2f23bd98ccc0.png)

Results from http://corenlp.run
![screen shot 2017-02-16 at 2 59 00 pm](https://cloud.githubusercontent.com/assets/1197905/23020507/7c41f0ee-f458-11e6-9f20-3b32e2c0fe9a.png)

[2017-02-16 12:07] sdg002 commented on #34
thanks for looking into this so quickly.

[2017-02-28 18:20] SleepyDeb commented on #45
I'll try to make a try in this repo:
https://github.com/SleepyDeb/JSharp

[2017-03-03 09:18] dimentorium opened #58 "Normal behaviour on starting?"
HI Sergey,
currently starting to work with Stanford NLP for .NET from you. I just wanted to check if its normal, when I start the demo application for coreNLP, I get an error in the console on issue with an slf4j package, and after this VS shows lots of java util exceptions, that a method is not found.
And after around 20 seconds, the results for the analysis are shown. But it takes every time the

[2017-03-05 17:56] sergey-tihon commented on #58
Some warning log messages are expected.
20 sec startup time is not (at least it depend what you do and what model you use)
[Couple seconds loading time](https://github.com/sergey-tihon/Stanford.NLP.NET/issues/40) is OK, but not 20.

[2017-03-09 23:32] MonsterMMORPG opened #59 "Need a very basic C# example to anaylze arabic words"
I have created a new WPF project in visual studio 2017

Then from manage nuget packages > installed Stanford.NLP.CoreNLP

Then i have downloaded and extracted stanford-parser-full-2016-10-31

Then extracted stanford-parser-3.7.0-javadoc.jar, stanford-parser-3.7.0-models.jar and stanford-parser-3.7.0-sources.jar files into folders

Here inside of that folder

![inside folder](https://cloud.githubus

[2017-03-10 00:15] MonsterMMORPG opened #60 "Where can i learn what does each tag means?"
I am testing Arabic POS tagger and it shows tags as

I have found here but almost all links are broken and no useful info : http://nlp.stanford.edu/software/parser-arabic-faq.shtml

اللاعب/DTNN
عامل/NN
اكتب/VBP
سجل/VBD
تسجل/VBP
قيد/NN
أرسل/VBD بالبريد/NNP المسجل/DTJJ
سجل/VBD السيارة/DTNN
دون/NN في/IN سجل/NN

Where can i learn what does each tag means? And i need the full list? Ty

This is the code

[2017-03-10 05:54] mdileep commented on #60
Following page may help you.
https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

[2017-03-10 08:02] sergey-tihon commented on #60
Thank you @mdileep
Also you can look into this https://github.com/sergey-tihon/Stanford.NLP.Fsharp/blob/master/src/Stanford.NLP.Parser.Fsharp/PennTreebankIITags.fs
Some time ago I did intellisence over tags for F# users
http://sergey-tihon.github.io/Stanford.NLP.Fsharp/

[2017-03-10 08:11] sergey-tihon commented on #59
Start from this sample project https://github.com/sergey-tihon/Stanford.NLP.NET/tree/master/samples/Stanford.NLP.CoreNLP.CSharp and make sure that it works on you machine.

This discussion may be useful https://github.com/sergey-tihon/Stanford.NLP.NET/issues/18

[2017-03-10 08:48] MonsterMMORPG commented on #60
Ty very much for answers. Is this list up to date?
https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

Also i dont get some of them. For example What does Coordinating
conjunction mean?

Also lets say it is JJR

Adjective, comparative . how can i find its base adjective?

On Fri, Mar 10, 2017 at 11:02 AM, Sergey Tihon <notifications@github.com>
wrote:

[2017-03-10 09:15] sergey-tihon commented on #60
From SO - http://stackoverflow.com/a/29734148/1429493

[2017-03-10 09:22] MonsterMMORPG commented on #60
@sergey-tihon ty for answer

but i still can not make any sense of what does each part means

for example DET+ADJ_COMP+NSUFF_MASC_DU_GEN DT+JJR

what does DET , ADJ_COMP, NSUFF_MASC_DU_GEN, DT, JJR  means?

Also is that possible to find related root words? I mean for example

easy is adjective , easier is comparative

lets say the tagger says it is comparative form. How can i find its root adjecti

[2017-03-10 09:31] sergey-tihon commented on #60
@MonsterMMORPG definitely better to ask question about the meaning to authors ;)

I could recommend to [play online with corenlp](http://corenlp.run
) annotations (sound like you need to add dependency parse to your pipeline):

<img width="1217" alt="screen shot 2017-03-10 at 12 30 25 pm" src="https://cloud.githubusercontent.com/assets/1197905/23789784/619fea7a-058d-11e7-87e5-73e68ca6449d.png">

[2017-03-10 09:37] MonsterMMORPG commented on #60
@sergey-tihon the problem is i dont know arabic :D also for example for the word easier in arabic it parses as VBD. But VBD is verb past tense according to here : https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html

Where can i reach the authors? email?

[2017-03-10 09:45] sergey-tihon commented on #60
@MonsterMMORPG I also do not know arabic ;)

From the official github repo - https://github.com/stanfordnlp/CoreNLP

  or on the [mailing lists](http://nlp.stanford.edu/software/corenlp.shtml#Mail).

but twitter account is also an option https://twitter.com/stanfordnlp

[2017-03-10 11:37] MonsterMMORPG commented on #60
@sergey-tihon do you know where can i learn tags like these meanings?

DET
NOUN_NUM
NSUFF_FEM_SG
CASE_DEF_ACC DT
CD

[2017-03-10 11:45] sergey-tihon commented on #60
@MonsterMMORPG no ideas rather than official docs & source code

[2017-03-10 14:25] dimentorium commented on #58
Thanks for the info, what I get is in the console:
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

And then in the event log in VS lots of:
Exception: Exception at: 'java.lang.NoSuchMethodException' in IKVM.OpenJDK.Core.dll ("java.util.H

[2017-03-13 09:17] aliNader opened #61 "c# Load Model"
I have installed stanford-postagger-3.7.0 and the models and put it within the project, then write the below code
[code]
but when i execute it,  IO Exception is thrown said "Unable to open "models\arabic-train.tagger" as class path, filename or URL"
please help.

[2017-03-13 12:12] sergey-tihon commented on #61
Check that `current directory`+`models\arabic-train.tagger` is exist on your drive

[2017-03-13 14:15] aliNader commented on #61
@sergey-tihon
it is Exist in the project directory
![capture](https://cloud.githubusercontent.com/assets/26377780/23858165/3ba75ea2-0808-11e7-8d4d-7c47361dbc8c.PNG)

[2017-03-13 14:18] sergey-tihon commented on #61
but it does not mean that you copy files to target directory and does not mean that in the runtime you `Environment.CurrentDirectory` is equal to build target directory.

Please, put breakpoint on the like ` var tagger = new MaxentTagger(@"models\arabic-train.tagger");` and debug your current directory.

[2017-03-29 06:43] balajee22 opened #62 "SUTime C# sample is not working"
Am new for this. I tried to execute the SUTime C# sample mentioned [here](https://sergey-tihon.github.io/Stanford.NLP.NET/StanfordSUTime.html). it throws following exception.

[code]
any idea to fix this issue ?

[2017-03-31 07:56] sergey-tihon commented on #62
Please try this sample
https://github.com/sergey-tihon/Stanford.NLP.NET/tree/master/samples/Stanford.NLP.SUTime.CSharp

it works fine on my machine (just chacked)

I did one change https://github.com/sergey-tihon/Stanford.NLP.NET/commit/18a7de857c4313bf97c9f97b1d0274bb1fd39e4a
(stanford nlp group does not ship `english-bidirectional` anymore, the only option is `english-left3words`)

Also check th

[2017-04-21 08:26] flaksirus commented on #45
So,[ IKVM.net died today](http://weblog.ikvm.net/2017/04/21/TheEndOfIKVMNET.aspx)...
Does it mean that project wouldn't be able for dotnet core at least in the near future?

[2017-04-21 11:13] SleepyDeb commented on #45
IKVM has already a full supporto of java 8 runtime, java 9 will be not supported by Jeroen Frijters, maybe will be developed by others developers

[2017-04-22 12:13] andreimanu commented on #58
I'm getting the same error messages, and I have been for a while.
It does take a while to load, depending on your specs (keep in mind, that, depending on what you plan on using, it might have to load up to 900 MB in RAM)
The exceptions make the load time slower thanks to the way VS handles them, but after they are all thrown and caught, it works as intended.

[2017-04-24 06:51] dimentorium commented on #58
HI andreimanu,
thanks for the info! So everything is good to go.

[2017-04-28 13:52] SnehaCoder opened #64 "stanford nlp (tagger+sentiments)"
My code:

[code]

I downloaded the zip from
http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordPOSTagger.html
https://www.nuget.org/packages/Stanford.NLP.CoreNLP/3.7.0

![img1](https://cloud.githubusercontent.com/assets/28148533/25531597/f7d87198-2c47-11e7-8d7d-f535d4a25b5d.png)
![img2](https://cloud.githubusercontent.com/assets/28148533/25531598/f7e304b4-2c47-11e7-9710-ce8a14e90218.png)

[2017-04-28 16:55] sergey-tihon commented on #64
You use CoreNLP package, https://www.nuget.org/packages/Stanford.NLP.CoreNLP/3.7.0
so you have to follow this manual http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html

and download CoreNLP model http://nlp.stanford.edu/software/stanford-corenlp-full-2016-10-31.zip

You do not need `MaxentTagger`, `StanfordCoreNLP` pipeline do everything for you.

CoreNLP is super set of API and m

[2017-04-29 05:04] SnehaCoder commented on #64
Sergey, the stanford nlp the last updated on Friday, January 13, 2017, package i should download?
or there is one more new one named latest version ?

[2017-04-29 05:31] SnehaCoder commented on #64
Sergey,do i need to download "Stanford CoreNLP ZIP archive with models"" too? from this link u sent me http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html

[2017-04-29 05:33] sergey-tihon commented on #64
Yes, this is the link  http://nlp.stanford.edu/software/stanford-corenlp-full-2016-10-31.zip
in this archive you will find `jar` with models that you need to unzip

[2017-04-29 05:35] SnehaCoder commented on #64
![img_2942017](https://cloud.githubusercontent.com/assets/28148533/25553235/abf33130-2ccb-11e7-95d8-f3b59e9c4cce.png)

i downloaded n pls check the folders.. please tell me is it correct

[2017-04-29 06:08] SnehaCoder commented on #64
![img_2942017_1](https://cloud.githubusercontent.com/assets/28148533/25553412/211c295e-2cd0-11e7-8bc3-1145a6204a33.png)
![img_2942017_2](https://cloud.githubusercontent.com/assets/28148533/25553413/211d591e-2cd0-11e7-9629-6b577a46bdee.png)
pls check this Sergey.

[2017-04-29 07:20] SnehaCoder commented on #64
in this download i cannot find the models folder . do i need to explicitly download models from here https://stanfordnlp.github.io/CoreNLP/
Kindly help.

[2017-04-29 07:24] sergey-tihon commented on #64
There is a step in [Getting Started section](http://sergey-tihon.github.io/Stanford.NLP.NET/)

You have `stanford-corenlp-3.7.0-models.jar` in your folder, this is `zip` archive with models that you have to unzip and `jarRoot` should point to the root of unzipped directory

[2017-04-29 10:17] SnehaCoder commented on #64
Sergey, I did as  u said n got the same error as previous even though now i have models folders and contents in it
Attaching image for your reference
![img_2942017_3](https://cloud.githubusercontent.com/assets/28148533/25554755/1d94714c-2cf3-11e7-82a9-0a7800f6cd68.png)

[2017-04-29 10:28] sergey-tihon commented on #64
not to the models folder

Here is your root
<img width="1052" alt="2017-04-29_1327" src="https://cloud.githubusercontent.com/assets/1197905/25554803/b7ec753c-2cdf-11e7-941c-9a88aacef957.png">

[2017-04-29 14:36] sergey-tihon commented on #64
@SnehaCoder Does it work now?

[2017-05-02 03:29] sergey-tihon commented on #64
I hope that it is OK now, if it still not - please read the explanation how model loading works
http://sergey-tihon.github.io/Stanford.NLP.NET//faq.html#Stanford-NLP-CoreNLP-not-loading-models

[2017-05-02 03:29] #64 closed

[2017-05-02 03:42] sergey-tihon opened #65 "warning IKVMC0100: Class "..." not found"
There are couple [compilation warnings](https://ci.appveyor.com/project/sergey-tihon/stanford-nlp-net/build/0.0.1.78#L155) left:

## CoreNLP

### javax.json.jar

### slf4j-simple.jar

### protobuf.jar

## Parser

### stanford-parser.jar

[2017-05-02 03:58] #62 closed

[2017-05-02 04:00] sergey-tihon commented on #61
I hope that this is resolved already, if not - please read this http://sergey-tihon.github.io/Stanford.NLP.NET//faq.html#Stanford-NLP-CoreNLP-not-loading-models

[2017-05-02 04:00] #61 closed

[2017-05-02 04:03] sergey-tihon commented on #58
I close this issue in favor of #65
I've fixed some loading errors in v3.7.0.1

[2017-05-02 04:03] #58 closed

[2017-05-02 05:12] SnehaCoder commented on #64
Sorry Sergey, I was out of office for three days.

I tried the above options but still im yet to get success.
![img_02052017_1](https://cloud.githubusercontent.com/assets/28148533/25604791/f7a57ed0-2f23-11e7-8959-51e371b1e6f1.png)

[2017-05-02 05:15] sergey-tihon commented on #64
you path is still incorrect, you forgot `/jar/` part to `jar`
Please read carefully why we change current directory during pipeline creation

[2017-05-02 05:20] SnehaCoder commented on #64
I am sorry about it,but i have changed the path of my original folder

[2017-05-02 05:25] sergey-tihon commented on #64
Than add `stanford-corenlp-3.7.0-models` instead of `jar`

[2017-05-02 05:30] SnehaCoder commented on #64
thank u i changed it to the said folder
![image](https://cloud.githubusercontent.com/assets/28148533/25605157/93744f38-2f26-11e7-9af2-6732591c3880.png)
but now im getting sentiments error

[2017-05-02 05:37] sergey-tihon commented on #64
thy annotators order from the exception message, i think that order is matter (it is pipeline)
something like  `"tokenize, ssplit, pos, parse, sentiment"`

[2017-05-02 05:47] SnehaCoder commented on #64
Thank you Sergey! U are a GodFather!
Take Care. Thanks a ton once again.
You saved me!

[2017-05-02 08:24] aliNader commented on #61
it is resolved, thanks :)

2017-05-02 7:00 GMT+03:00 Sergey Tihon <notifications@github.com>:

[2017-05-02 09:55] SnehaCoder commented on #64
Sergey, Can you please help me with codes for tree representation and also to find percentage of sentiments.

[2017-05-02 10:28] sergey-tihon commented on #64
What tree codes?

Take a look at new sample page http://sergey-tihon.github.io/Stanford.NLP.NET//samples.html
there are two links on samples about sentiments. There are 5 sentiment classes, here it sample how to get prop for each class and class with max probability
https://github.com/evelinag/SentimentAnalysisDemo/blob/master/code/sentiment.fsx#L53-L55

[2017-05-02 15:15] sergey-tihon commented on #49
Added [Simple CoreNLP](http://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Simple.html) samples translated to .NET

[2017-05-02 15:15] #49 closed

[2017-05-03 04:36] SnehaCoder commented on #64
Sergey, I want C# code to display a tree like structure like below:
Please help.
![image](https://cloud.githubusercontent.com/assets/28148533/25648293/007a4e5e-2fe8-11e7-8591-72d1716377b3.png)

[2017-05-03 05:06] sergey-tihon commented on #64
This is dependency parse tree, I did it using Stanford Parser
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/samples/Stanford.NLP.Parser.CSharp/Program.cs#L35-L44
But it should be possible to get it from generic Core NLP annotation.
Or you could try "new" 😉 Simple CoreNLP API http://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Simple.html

[2017-05-06 14:55] haf opened #66 "Unsafe content on HTTPS site"
<img width="1245" alt="screen shot 2017-05-06 at 16 54 33" src="https://cloud.githubusercontent.com/assets/193115/25773384/baab4bb6-327c-11e7-9d42-ba0487199da5.png">

[2017-05-06 16:51] sergey-tihon commented on #66
I redeployed new version of site with `https` link.
@haf could you please confirm that it is fixed now?

[2017-05-06 19:06] haf commented on #66
Yes, it's fixed.

[2017-05-06 19:06] #66 closed

[2017-05-07 05:09] sergey-tihon commented on #44
.NET samples for Simple CoreNLP published here
https://sergey-tihon.github.io/Stanford.NLP.NET/samples/CoreNLP.Simple.html

[2017-05-07 05:09] #44 closed

[2017-05-07 05:14] sergey-tihon commented on #25
I cannot reproduce this neither on my machine or on AppVeyour
https://ci.appveyor.com/project/sergey-tihon/stanford-nlp-net/build/0.0.1.88
there are couple knows warnings left (related to slf4j) and track them in separate issue #65
Close this for now

[2017-05-07 05:14] #25 closed

[2017-05-17 16:36] Perlkonig opened #68 "Invalid stream header with lexparser models"
I've developed a Word add-in (C# + Visual Studio) that leverages the Stanford parsers. The POS tagger works fine. I've embedded the model file as a resource and successfully instantiate the tagger as follows:

[code]

Now I want to use the `LexicalizedParser` to do some grammatical analysis. I tried the following:

[code]

When I do this, I get an `invalid stream header` error. Google gives me two

[2017-05-17 18:57] sergey-tihon commented on #68
What NuGet package do you use? it is CoreNLP, right? and models for CoreNLP?

[2017-05-19 03:42] sergey-tihon commented on #68
Seems that I understand the reason of the issue.

The model for `LexicalizedParser` is gziped so you need to swap `ikvm.io.InputStreamWrapper` into `java.util.zip.GZIPInputStream` before passing it into `java.io.ObjectInputStream`

See sample tests:
[code]

[2017-05-19 03:42] #68 closed

[2017-05-19 13:09] Perlkonig commented on #68
Thank you!!

[2017-06-06 12:26] saidMoulay commented on #18
**Fixed code , Try it**

using System;
using edu.stanford.nlp.international.arabic.process;
using edu.stanford.nlp.ling;
using edu.stanford.nlp.util;
using java.io;

namespace CoreNLPArabic
{
    class Program
    {
        static void Main(string[] args)
        {
            string s = "جامعة الدول العربية هي منظمة تضم دولا في الشرق الأوسط وأفريقيا";

            var parameters =

[2017-07-18 12:18] jamessdixon opened #69 "System.IO.FileNotFoundException: Could not load file or assembly 'IKVM.OpenJDK.Text"
I am following the tutorial found here.  I have entered the following code into a script:

[code]

I am getting the following error:

What am I doing wrong?  I added a "r" to that lib and the exception is still throwing.
Thanks

[2017-07-18 14:26] sergey-tihon commented on #69
@jamessdixon Could you share the link to the tutorial that you've used?

Here is the sample for `Stanford Parser`:
https://sergey-tihon.github.io/Stanford.NLP.NET//samples/Parser.Sample.html

It depends on your task, but you may also want to try `Simple CoreNLP` (__another NuGet package__)
https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Simple.html

[2017-07-18 14:35] jamessdixon commented on #69
I used this page: http://sergey-tihon.github.io/Stanford.NLP.Fsharp/so_
questions.html
I am thinking I did not set up the machine correct so I am going through
all of your docs
Checking now...

On Tue, Jul 18, 2017 at 10:26 AM, Sergey Tihon <notifications@github.com>
wrote:

[2017-07-18 14:50] sergey-tihon commented on #69
This is the guide from another project ... and it may be broken...

Please try this one https://sergey-tihon.github.io/Stanford.NLP.NET//samples/Parser.Sample.html

[2017-07-18 14:51] jamessdixon commented on #69
Ooops
Sorry
I'll close the item

On Tue, Jul 18, 2017 at 10:50 AM, Sergey Tihon <notifications@github.com>
wrote:

[2017-07-18 14:51] #69 closed

[2017-07-18 19:37] sergey-tihon commented on #69
Anyway, I can confirm that even this sample works in __VS2015__ on my machine

<img width="1576" alt="2017-07-18_2236" src="https://user-images.githubusercontent.com/1197905/28336212-bbebf036-6c09-11e7-8424-45b566ef91e4.png">

[2017-07-19 00:13] jamessdixon commented on #69
I am trying it on my home machine (also VS2015)

And I am getting

From: Sergey Tihon [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 3:38 PM
To: sergey-tihon/Stanford.NLP.NET <Stanford.NLP.NET@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [sergey-tihon/Stanford.NLP.NET] System.IO.FileNotFoundException: Could

[2017-07-19 00:17] jamessdixon commented on #69
Here it is from the work machine

From: Sergey Tihon [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 3:38 PM
To: sergey-tihon/Stanford.NLP.NET <Stanford.NLP.NET@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [sergey-tihon/Stanford.NLP.NET] System.IO.FileNotFoundException: Could not load file or assembly 'IKVM.

[2017-07-19 12:19] sergey-tihon commented on #69
Maybe small refactoring change something
[code]

[2017-07-19 12:23] jamessdixon commented on #69
Version mismatch?

From: Sergey Tihon [mailto:notifications@github.com]
Sent: Wednesday, July 19, 2017 8:19 AM
To: sergey-tihon/Stanford.NLP.NET <Stanford.NLP.NET@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [sergey-tihon/Stanford.NLP.NET] System.IO.FileNotFoundException: Could not load file or assembly 'IKVM.OpenJDK.Text

[2017-07-19 12:25] jamessdixon commented on #69
It was NOT small

I uninstalled all of the libs and installed this:  https://www.nuget.org/packages/Stanford.NLP.Parser.Fsharp

And it ran

Thanks – I’ll close the issue

From: Sergey Tihon [mailto:notifications@github.com]
Sent: Wednesday, July 19, 2017 8:19 AM
To: sergey-tihon/Stanford.NLP.NET <Stanford.NLP.NET@noreply.github.com>
Cc: Jamie Dixon <jamessdixon@gmail.com>; State change <state_chan

[2017-07-26 09:30] ltdhvktqs opened #71 "{"edu.stanford.nlp.io.RuntimeIOException: Error while loading a tagger model (probably missing model file)"}"
I download this project and try to run but it error at:

`var pipeline = new StanfordCoreNLP(props);`

Can you help me to fix it.
![2017-07-26_16-25-36](https://user-images.githubusercontent.com/30456281/28614239-46905f90-721f-11e7-989e-7147c6c857e1.png)

[2017-07-26 09:38] sergey-tihon commented on #71
The error says that you have to model on your machine.
You should start from `build.cmd` in the project root. (it downloads several DB of zips from Stanford first)

[2017-07-29 00:42] tgcidsv opened #72 "Training a sentiment model"
Hi, I am new in corenlp and i'm trying to figure out how to train a spanish sentiment model. I already have a dataset but i have no idea how to convert it to Penn Treebank (Already googled a lot, maybe bad luck).

Additionally is there a way to train models from this solution?

I appreciate all your help.

[2017-07-29 06:38] sergey-tihon commented on #72
Are you sure that `Spanish` models provided for [CoreNlp](https://stanfordnlp.github.io/CoreNLP/) are not suitable for sentiment analysis?

At least [online demo](http://nlp.stanford.edu:8080/sentiment/rntnDemo.html) could work with Spanish...
<img width="1027" alt="spanish" src="https://user-images.githubusercontent.com/1197905/28742766-975c0d4c-7441-11e7-946d-e2becc94d820.png">

here we have cou

[2017-07-30 04:11] tgcidsv commented on #72
Hi Sergey, thank you for your reply. The problem with sentiment in spanish with english models is not accurate. I already have a Web Service implementation with CoreNLP .NET for sentiment analysis but i need to train a new model for spanish. I know how to do it, but i don't know how to parse the data to Treebank format.

[2017-07-30 17:56] sergey-tihon commented on #72
Sorry, I cannot help you with this, you could try ask on SO - https://stackoverflow.com/questions/tagged/stanford-nlp or contact Stanford NLP group

[2017-08-04 05:58] jesmin-n opened #73 "IOException though following the sample"
I've followed the instructions to download the NuGet package, as well as the zip file with models from Stanford's page. I'm also following the C# sample by doing this:

`var tagger = new MaxentTagger(@"/stanford-postagger-full-2016-10-31/models/wsj-0-18-left3words.tagger");`

but, I get this error in Unity:

`IOException: Unable to open "/stanford-postagger-full-2016-10-31/models/wsj-0-18-left3wor

[2017-08-08 04:37] sergey-tihon commented on #73
Please check that file exist on disk
[code]
This sample should work http://sergey-tihon.github.io/Stanford.NLP.NET/samples/POSTagger.Sample.html
IIRC `wsj-0-18-left3words.tagger` does not exist anymore and you should use `wsj-0-18-bidirectional-nodistsim.tagger` instead.

Note, I does not guarantee that `MaxentTagger` works correctly on Mac/Mono. I did not check it

[2017-08-08 04:44] sergey-tihon commented on #73
Update, I did check on macOS\Mono 5.0.1 and it works, so the issue is in the path to the model file

[2017-08-10 09:02] jesmin-n commented on #73
You're right, apparently in Unity3D you need Application.dataPath in order to get the correct path to the file. Thanks so much for helping me realize the problem!

[2017-08-10 09:02] #73 closed

[2017-09-06 18:57] JimSEOW opened #74 "CoreNLP version 3.8.0"
Please consider upgrading to CoreNLPversion 3.8.0
This will make it easier to implement these [document files.](https://github.com/stanfordnlp/CoreNLP/tree/master/src/edu/stanford/nlp/simple)

[2017-09-06 22:25] JimSEOW commented on #72
For the upcoming Stanforld-NLP version e.g. 3.9: ["Sentiment analysis is not implemented for Spanish](https://github.com/stanfordnlp/CoreNLP/blob/master/src/edu/stanford/nlp/simple/SpanishDocument.java)

[code]

[2017-09-06 22:29] JimSEOW commented on #5
The upcoming Stanforld-NLP CoreNLP version e.g. 3.9: is now tracking Sentiment Analysis support for [other languages](https://github.com/stanfordnlp/CoreNLP/blob/master/src/edu/stanford/nlp/simple/GermanDocument.java)

[2017-09-07 06:29] sergey-tihon commented on #72
Close it for now, because it cannot be addressed directly in `.NET` version of  Stanford NLP

[2017-09-07 06:29] #72 closed

[2017-09-09 19:38] sergey-tihon commented on #74
Released on NuGet

[2017-09-09 19:38] #74 closed

[2017-09-09 19:42] sergey-tihon commented on #74
@JimSEOW Thank you for pinging, I have no idea how I miss the 3.8.0
Do not hesitate to ping me with v3.9.0

[2017-09-09 20:25] JimSEOW commented on #74
@sergey-tihon using Stanford.NLP.NET with VS2017 seems more smooth than using VS2015.
thanks for rapid support!

[2017-09-15 11:39] leezhihui opened #75 "dear owner i get one problem"
{"java.io.IOException: Unable to open \"..\\..\\..\\..\\data\\paket-files\\nlp.stanford.edu\\stanford-segmenter-2017-06-09\\data\\ctb.gz\" as class path, filename or URL"}

when i run the demo ,i get the above error in the vs c#

[2017-09-15 11:42] sergey-tihon commented on #75
go to the project root folder and execute `build.cmd` (it will download couple GB of trained model from Stanford site that unzip them into `data\paket-files`)

[2017-09-15 11:56] leezhihui commented on #75
thank you ,i will do it right now.

[2017-09-15 12:17] leezhihui commented on #75
I am doing some nlp about chinese . Does it enough after the download .
thank you

[2017-09-15 12:31] #75 closed

[2017-09-16 05:38] leezhihui opened #76 "Hi excuse，how can i run this in chinese model"
the code is like this
it can run when process english text  but it can not process the chinese text

[code]

the code is comes from here ,i want to do some annotation about chinese text
[http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html](url)
and i change the model directory to chinese but it did't work. the program still under the english model ,how can i set someting to deal wi

[2017-09-16 15:15] sergey-tihon commented on #76
Do you have an error message?)

My initial guess that you still use `jarRoot` directory models instead of `jarRoot2`
[code]

[2017-09-17 09:13] leezhihui commented on #76
when i use the jarRoot2
erro message:
edu.stanford.nlp.io.RuntimeIOException occurred
  HResult=0x80131500
  Message=Error while loading a tagger model (probably missing model file)
  Source=stanford-corenlp-3.8.0
  StackTrace:
   at edu.stanford.nlp.tagger.maxent.MaxentTagger.readModelAndInit(Properties config, String modelFileOrUrl, Boolean printLoading)
   at edu.stanford.nlp.tagger.maxent.Maxe

[2017-09-20 11:00] cherryywei commented on #76
你好，我也是中国学生，目前也在试着做句法分析，能沟通一下吗？

[2017-09-20 15:08] sergey-tihon commented on #76
I do not have ready solution for correct bootstrapping for chinese, sorry

I can only suggest the direction
-  Copy files from `jarRoot` to `jarRoot2` (merge dirs)
-  Load props file distributed with chinees models
[code]
- try to understand new errors/find java sample that works

[2017-09-21 01:35] leezhihui commented on #76
thank you

[2017-09-21 01:36] leezhihui commented on #76
My email 1446129333@qq.com

[2017-09-21 01:38] leezhihui commented on #76
@cherryywei 可以联系一下，我的 扣扣是1446129333

[2017-09-21 08:28] leezhihui commented on #76
i use the code you paste above it
the error message is

`java.lang.RuntimeException occurred
  HResult=0x80131500
  Message=java.lang.RuntimeException: Error initializing coref system
  Source=stanford-corenlp-3.8.0
  StackTrace:
   at edu.stanford.nlp.pipeline.CorefAnnotator..ctor(Properties props)
   at edu.stanford.nlp.pipeline.AnnotatorImplementations.coref(Properties properties)
   at edu.sta

[2017-09-21 08:42] sergey-tihon commented on #76
I think that if should exist in http://nlp.stanford.edu/software/stanford-corenlp-full-2017-06-09.zip

[2017-10-16 21:14] Millymanz opened #77 "Need help with a working example of Coreferencing c#"
I have been trying for a while to implement a method that can perform coreferencing using the stanford.nlp.net. Been trying to test sentences such as "Barack Obama was born in Hawaii.  He is the president. Obama was elected in 2008" Or "Which Apple supplier’s share price goes up the most when the company releases a new product?"

[code]
P.S Note
I keep getting a null value for coref.
I have other

[2017-10-17 07:54] sergey-tihon commented on #77
I have the [test in F#](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.fs) that check dependencies

Annotation pipeline:
[code]

then you extract sentences from `Annotation`:
[code]

and then dependencies between words - [open](https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/tests/Stanford.NLP.CoreNLP.FSharp.Tests/CoreNLP.f

[2017-10-17 09:12] Millymanz commented on #77
Hi, this is not what I am looking for.
I want to know how to use

Dictionary<int, CorefChain> coref = document.get(new CorefCoreAnnotations.CorefChainAnnotation().getClass()) as Dictionary<int, CorefChain>;

I am trying to do the following example which is in JAVA, but I want to do it in C# or F# - Coreferencing

Map<Integer, CorefChain> coref = document.get(CorefChainAnnotation.class);

for(Map.E

[2017-10-17 09:30] sergey-tihon commented on #77
@Millymanz do you have full java sample? (with annotation pipeline definition)

[2017-10-17 11:05] Millymanz commented on #77
unfortunately I dont have the pipeline definition.

This is the best I got for the annotation:

Properties props = new Properties();
        props.put("annotators", "tokenize, ssplit, pos, lemma, ner, parse, dcoref");
        props.put("dcoref.score", true);
        pipeline = new StanfordCoreNLP(props);
        Annotation document = new Annotation("The atom is a basic unit of matter, it   consist

[2017-10-18 09:09] sergey-tihon commented on #77
I've added sample from this https://stanfordnlp.github.io/CoreNLP/coref.html - here it is https://github.com/sergey-tihon/Stanford.NLP.NET/commit/9881323b0fb8ce2198afc9907fbe414d75a8cfc7

Seems that pipeline should be `tokenize,ssplit,pos,lemma,ner,parse,mention,coref`

And for the sentence

you should see
<img width="692" alt="2017-10-18_1208" src="https://user-images.githubusercontent.com/119790

[2017-10-19 09:57] Millymanz commented on #77
Thank you so much for the example.
You are a star.

[2017-10-27 06:35] ryanleecode opened #78 "NoSuchMethodException"
Im trying to run the samples but everytime I run it i get the same errors. I've installed the.NLP.CoreNLP package and I've run the build.cmd already

Exception thrown: 'edu.stanford.nlp.trees.tregex.TregexParser.LookaheadSuccess' in stanford-corenlp-3.8.0.dll
Exception thrown: 'edu.stanford.nlp.trees.tregex.TregexParser.LookaheadSuccess' in stanford-corenlp-3.8.0.dll
Exception thrown: 'ClassNotFou

[2017-10-27 08:18] sergey-tihon commented on #78
Could you please also print the screenshot of console window from `build.cmd`?

[2017-10-27 17:20] drdgvhbh commented on #78
https://pastebin.com/87n3mfAR

[2017-10-30 20:29] sergey-tihon commented on #78
The log looks slightly strange...
It should look like this - https://ci.appveyor.com/project/sergey-tihon/stanford-nlp-net

At the beginning it should restore models in `data` folder (it downloads `zip`s from internal and unzip them and extract some models from `jar`s) as a result you should get almost `6Gb` in `data` folder.

[code]

Also I see that your log ends around here https://ci.appveyor.c

[2017-11-12 15:11] hohuynh opened #79 "There is an warning message"
Below is my code as your example, it ran without error but there is a warning message like image in attachment. I installed stanford-corenlp-3.8.0 from nuget. Could you let me know what issue here ?

`var jarRoot = @"..\..\..\StanfordNLP\stanford-english-corenlp-models";

            // Annotation pipeline configuration
            var props = new Properties();
            //props.setProperty("ann

[2017-11-18 13:36] #77 closed

[2017-11-18 13:40] sergey-tihon commented on #79
This is known warnings - sorry. I do not know yet a way to fix or work around them.

I guess that the reason is that StanfordNLP group does not ship `slf4j` in zip packages, so we do not recompile them and .NET runtime could load classes at runtime.

[2017-11-18 13:50] solarbear123 opened #80 ""Last year" not NERed as a DATE"
Tried sample code at https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/samples/Stanford.NLP.CoreNLP.CSharp/Program.cs, and tested it with the sentence "the economy grew by 2% last year". "Last year" was not recognized as a DATE.

In contrast, http://nlp.stanford.edu:8080/corenlp/process does NER "last year" as a DATE.

[2017-11-19 17:02] sergey-tihon commented on #80
I do not know the asnwer... but I think that this may happens because of this line
[code]
this line means that we turn off `sutime` in `ner` (that probably affect ner in your case)

But if you remove this line, you will get an exception that I do not know how to fix... 😞

[code]

[2017-12-14 10:27] WEMAPP opened #81 "Multi languages"
Hi, could I know how to change the code below to use it with multiple languages ​​at the same time? thank you

[code]

[2017-12-14 18:40] sergey-tihon commented on #81
Sorry, but I think that this is not supported.

You may try to

1. Find tools that have language identification capability (with the quality acceptable for your task). Note that Stanford NLP does not provide such API - https://stackoverflow.com/questions/29290107/detecting-language-using-stanford-nlp

1. Create different pipelines for all languages you want to support and for which you can find tr

[2017-12-14 18:40] #81 closed

[2017-12-18 00:22] AndrewBragdon opened #82 "Does not compile out of the box"
Does not compile out of the box

This project needs to either (a) include all dependent binaries, or (b) ideally use NuGet to resolve missing binaries.

1>------ Rebuild All started: Project: Stanford.NLP.CoreNLP.CSharp, Configuration: Debug Any CPU ------
2>------ Rebuild All started: Project: Stanford.NLP.NER.CSharp, Configuration: Debug Any CPU ------
3>------ Rebuild All started: Project: Stan

[2017-12-18 00:36] AndrewBragdon commented on #82
You should make available a Release for direct download

[2017-12-18 05:03] sergey-tihon commented on #82
Use `build.cmd` from the project root to compile the solution (as it works on AppVeyor).

This project has more than `3Gb` of binary dependencies that change over the time, so I do not plan to store them in version control.

We do not use GitHub Releases for compiled assemblies, all build results are packed into NuGet packages and available from NuGet - https://www.nuget.org/packages?q=Stanford.NL

[2017-12-18 05:03] #82 closed

[2018-01-10 10:33] satishkumarkt opened #83 "How to connect Stanford Core NLP Server and view output?"
I am trying to use Stanford NLP for.NET. I am very new to this.

I am able to connect Stanford core NLP server using below code.
How to print NER?
Is I am doing it correct way, can anyone provide some example code to do this
Thanks

[code]

[2018-01-10 14:13] sergey-tihon commented on #83
I never tried built-in client impl ... but I guess that response `annotation` should be very similar to the response from the in-process execution.

Here is the sample, the approach is
- Use annotation class name as the key
- Extract annotation value
- Type cast to the expected type
- Repeat for extracted values (like CoreLable and CoreMap)

https://github.com/sergey-tihon/Stanford.NLP.NET/blob/ma

[2018-01-11 06:01] satishkumarkt commented on #83
Thanks @sergey-tihon
when I try the following code It gives an error.

var tokens = sentence.get(new CoreAnnotations.TokensAnnotation().getClass());
                Console.WriteLine(tokens);  // if i use as Arraylist here it reurns null

                foreach (CoreLabel token in tokens) //ERROR  - foreach statement cannot operate on variables of type 'object' because 'object' does not contain a

[2018-01-11 06:32] sergey-tihon commented on #83
It should be `java.util.ArrayList`..., you can check in the debugger the actual type of `tokens` object or call `tokens.GetType()` and print it in console.

Annotations contain Java data structure, so you cannot cast then to .NET collections and cannot use generic collections.

[2018-01-11 07:28] satishkumarkt commented on #83
Sorry to interrupt you

If I use java.util.ArrayList it gives error as follows
System.NullReferenceException: 'Object reference not set to an instance of an object

 var tokens = sentence.get(new CoreAnnotations.TokensAnnotation().getClass());
 Console.WriteLine(tokens);

above stmt prints
[Kosgi-1, Santosh-2, sent-3, an-4, email-5, to-6, Stanford-7, University-8, .-9]
[He-1, did-2, n't-3, get-4,

[2018-01-11 12:36] sergey-tihon commented on #83
Could you try cast to SubList?

Or put the breakpoint at the line with `Console.WriteLine(sentences);` and check the full type name in the debugger?

[2018-01-11 13:01] satishkumarkt commented on #83
sentences type is  {Name = "ArrayList" FullName = "java.util.ArrayList"}
tokens type is       {Name = "SubList" FullName = "java.util.ArrayList+SubList"}

How to do cast to SubList?

[2018-01-11 16:14] sergey-tihon commented on #83
the first idea is that SubList should be an internal class, so you may try `java.util.ArrayList.SubList`
if it does not work... you may try to cast/coerse to interface `java.util.List`

[2018-01-12 07:28] sergey-tihon commented on #83
I am on VAC this week without access to my workstation, so I can take a look at sample only next week.

I do not know others, I always run it in-process. But you always could call REST API directly (I guess so)

[2018-01-14 19:14] sergey-tihon commented on #83
In order to workaround issue with `java.util.ArrayList+SubList` you could you cast to the common base class called `java.util.AbstractList` and then iterate the list.

The following sample works fine for me with server started as
[code]

[code]

[2018-01-14 19:54] sergey-tihon commented on #83
I added this example to the site - https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html

I hope that my sample works for you. Please reopen this issue if you have more questions

[2018-01-14 19:54] #83 closed

[2018-01-16 05:01] satishkumarkt commented on #83
Ya, it works.
Thanks for your support @sergey-tihon

[2018-03-08 14:30] Stanwar commented on #45
Hello, I was attempting to perform NER on a dotnet core project. But I was getting an exception( Method not found). Could this be attributed to lack of support for dotnet core? I have the latest packages installed and my java version is java 9.0.4.

Much Thanks.

[2018-03-13 16:53] sergey-tihon commented on #45
@Stanwar sorry, nobody tried`netcore` yet.

Could you please try to run `CoreNLP` as a server on your java machine and just communicate with the server using client - here is [the how to](https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html)

[2018-03-14 14:15] k-bx commented on #11
Hi. Just got this error on a freshly-downloaded corenlp command line utility (2018-02-27) on Ubuntu 17.10. Is there a way to fix a command-line utility without compiling from source with the patch mentioned? Thank you.

[2018-03-20 13:29] Stanwar commented on #45
Thanks a lot @sergey-tihon  I will try this out. I was able to run coreNLP on .NET without any issues but I will continue to try it on dotnet core.

[2018-04-19 09:07] vermouthmjl commented on #54
I also have this problem. When I do not load NER annotator, everything works fine. When I only load NER, memory use caps at about 500MB, then nothing happens, and the program hangs.

I'm using the nuget package Stanford.NLP.CoreNLP 3.9.1.0 in C#, for net45, in x64.

Here is the subtree provided by the profiler from the moment we instantiate the StanfordCoreNLP object:
78.82%   StanfordCoreNLP..cto

[2018-06-14 02:45] wzjjia opened #86 "Sentiment analysis train! help me,please!"
How does the Sentiment analysis  function train me to provide a sentence like, "I'm happy today" and I'm going to train him to be positive

[2018-06-14 08:05] sergey-tihon commented on #86
Sorry, but I am not aware of any way to train your own model.

As I understand, the shipped model is trained using `Sentiment Treebank`
https://nlp.stanford.edu/sentiment/treebank.html
So you can your cases there and next model version should be better.

You also may want to search issues on original repo https://github.com/stanfordnlp/CoreNLP or questions on SO https://stackoverflow.com/questions

[2018-06-14 09:39] wzjjia commented on #86
"If you sometimes like to go to the movies  to have fun Wasabi is a good place to start."
How can I convert the above statement to the following format？
(3 (3 (2 If) (3 (2 you) (3 (2 sometimes) (2 (2 like) (3 (2 to) (3 (3 (2 go) (2 (2 to) (2 (2 the) (2 movies)))) (3 (2 to) (3 (2 have) (4 fun))))))))) (2 (2 ,) (2 (2 Wasabi) (3 (3 (2 is) (2 (2 a) (2 (3 good) (2 (2 place) (2 (2 to) (2 start)))))) (2

[2018-06-14 09:40] wzjjia opened #87 "Sentiment analysis train! help me,please!"
"If you sometimes like to go to the movies to have fun Wasabi is a good place to start."

How can I convert the above statement to the following format？

(3 (3 (2 If) (3 (2 you) (3 (2 sometimes) (2 (2 like) (3 (2 to) (3 (3 (2 go) (2 (2 to) (2 (2 the) (2 movies)))) (3 (2 to) (3 (2 have) (4 fun))))))))) (2 (2 ,) (2 (2 Wasabi) (3 (3 (2 is) (2 (2 a) (2 (3 good) (2 (2 place) (2 (2 to) (2 start)))))) (2

[2018-06-14 09:41] wzjjia commented on #87
How is the code implemented?

[2018-06-14 09:51] sergey-tihon commented on #87
Probably like this - https://github.com/evelinag/SentimentAnalysisDemo/blob/master/code/sentiment.fsx#L52

But note, that is repo is for `Stanford.NLP.NET` - the .net binary port of `CoreNLP`.
There is no any NLP algorithm implemented here.

[2018-07-07 15:05] cheungtitus commented on #86
@wzjjia I'm new to this as well but it appears BuildBinarizedDataset is the one to use.
https://github.com/stanfordnlp/CoreNLP/issues/296
https://github.com/stanfordnlp/CoreNLP/issues/32#issuecomment-61037436
https://www.kaggle.com/c/sentiment-analysis-on-movie-reviews/discussion/12304

What is not clear is how do you break down each sentence into its phrases and then assign sentiment scores for t

[2018-07-19 20:02] ryanboyd opened #88 "Extract POS Tags and Words from Tagged Sentence"
I'm having a bit of difficulty, and I'm sure that it's due to my lack of familiarity with IKVM in particular. I'm using stanford-postagger-3.9.1 to run through texts and do basic POS tagging. So far, so good.

However, the next step for me is to get the actual properties of the edu.stanford.nlp.ling.TaggedWord object. For example, in the following code, it's essentially just building off of the (v

[2018-07-20 15:49] #88 closed

[2018-07-21 17:51] sergey-tihon commented on #88
Yes, explicit conversion is the right way.

Original CoreNLP Java API return Objects is most cases.

[2018-07-21 17:52] ryanboyd commented on #88
@sergey-tihon Thank you so much for your reply. Much appreciated!

[2018-09-11 09:51] wzjjia commented on #86
Here's the problem
How do we know it has the following phrases.
good
good day
a good day

[2018-10-17 14:40] Vasyl-Za opened #89 "Exception in CoreNLP.Simple sample"
This is regarding Sergey Tihon's sample published here:

**Simple CoreNLP**
[http://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Simple.html](url)

Equivalent C# code:

[code]

throws an exception:

`Error creating edu.stanford.nlp.time.TimeExpressionExtractorImpl`

at the line:

`var netTags = sent.nerTags();`

jarRoot and models are correct and present: if you comment out offending l

[2018-10-17 16:36] sergey-tihon commented on #89
@Vasyl-Za The trick is in `props`

The original F# sample do it like this
[code]

in your C# sample you do not pass them to the function
[code]
this line should look like
[code]

I do not know the root cause but use of `SUTime` for `ner` does not work out-of-the-box in .NET version.  The easiest fix is to turn this off

[2018-10-17 18:58] Vasyl-Za commented on #89
@sergey-tihon  - Many thanks! My fault: missed props as an argument - your F# code does have it.

[2018-10-17 18:58] #89 closed

[2018-10-23 08:27] Anupam750 opened #90 "Stanford NLP stuck when using large text"
Stanford NLP stuck when using large text for segmentor. Please check it.

[2018-10-23 08:38] sergey-tihon commented on #90
Do you mean `Stanford.NLP.Segmenter`?

[2018-10-23 09:30] Anupam750 commented on #90
Yes Stanford.NLP.Segmenter

[2018-10-24 10:16] Anupam750 commented on #90
above code is giving compile time error as this code is in java so do we have any code in C#?

[2018-10-24 17:21] sergey-tihon commented on #90
@Anupam750 not yet, sorry. But it should not be hard to convert Java sample to C# sample

[2018-10-24 17:34] sergey-tihon commented on #90
Cannot help you without sample code and stack trace.
You can try C# sample from the same SO answer
[code]

or as alternative use CoreNLP package and extract list of sentences from annotation
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/samples/Stanford.NLP.CoreNLP.CSharp/StanfordCoreNlpClient.cs#L35-L36

but I have no idea how large your text is.

[2018-10-24 17:40] Anupam750 commented on #90
my text is around 300 pages pdf file

[2018-10-31 17:22] ghost opened #91 "IllegalMonitorState in c# implementation"
I have the below code using the sample I saw in https://github.com/sergey-tihon/Stanford.NLP.NET/issues/83.

The code will return all of the names in the text but will always end in

	at java.util.concurrent.locks.ReentrantLock$Sync.tryRelease(ReentrantLock.java:151)
	at java.util.concurrent.locks.AbstractQueuedSynchronizer.release(AbstractQueuedSynchronizer.java:1259)
	at java.util.concurrent.loc

[2018-10-31 19:08] sergey-tihon commented on #91
The most latest sample should be here - https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html

Where did you get stack trace? It looks like JVM exception.
You always can repeat question on SO - there are much more Java experts.

Take a look docs about CoreNLP server and check params - https://stanfordnlp.github.io/CoreNLP/corenlp-server.html

[2018-10-31 21:03] Arjun345 commented on #91
I copied the exact example code from https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html but still get the exception printed at the end of execution.

Santosh	[pos=NNP;	ner=PERSON]
sent	[pos=VBD;	ner=O]
an	[pos=DT;	ner=O]
email	[pos=NN;	ner=O]
to	[pos=TO;	ner=O]
Stanford	[pos=NNP;	ner=ORGANIZATION]
University	[pos=NNP;	ner=ORGANIZATION]
.	[pos=.;	ner=O]
Exception in thread

[2018-11-03 15:18] abhi18av commented on #90
Hello everyone,

If this issue is resolved could you please update here the solution and
explain how you resolved it ?

On Wed, Oct 24, 2018 at 11:10 PM Anupam750 <notifications@github.com> wrote:

[2018-11-19 05:54] dheeraj2016 opened #92 "An unhandled exception of type 'System.TypeInitializationException' occurred"
HI Team,

sorry to report a same bug which has been closed before "Bug#23"
i think my situation is little different.
Environment : .NET Core Web API 2.1
Language : C#
OS : Windows  10 pro
IDE: Visual Studio 2017
CoreNLP: 3.7.0

User case : Trying to initialize CoreNLP from static main of program.cs using singleton pattern .
it gives me above mentioned error.

but if run same class from Console app

[2018-11-19 06:49] dheeraj2016 commented on #92
Sorry my mistake, ASP.NET Core is not supported till now

[2018-11-19 06:49] #92 closed

[2018-11-19 08:02] sergey-tihon commented on #92
You may try to execute [CoreNLP Server](https://stanfordnlp.github.io/CoreNLP/corenlp-server.html) as separate Java process and then call it REST api:
- Call REST directly (most obvious way)
- Use [StanfordCoreNLPClient](https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html), this may work even on .net core ...

[2018-11-19 08:18] mehmetilker commented on #92
@dheeraj2016  I have it worked with .Net Standard Library project.
Then you can reference it from .Net Core App.
But you will need .Net Framework anyway.

[2018-12-04 19:56] zahra1394 commented on #71
excuse me I couldn't understand what should be done exactly. can you describe the solution?

[2018-12-04 20:16] sergey-tihon commented on #71
-  clone repo or download as zip archive
- open `cmd` in the root folder
- execute `build.cmd`
- wait (depends on your internet connection)

[2018-12-19 20:17] bond- commented on #86
Wow seriously?? no one responded to this. That just shows the amount of support CoreNLP has.

[2018-12-19 20:21] sergey-tihon commented on #86
Sorry, this is the wrong repo for such questions
Please ask on StackOverflow or open new issue in official repo https://github.com/stanfordnlp/CoreNLP

[2018-12-19 20:21] #86 closed

[2018-12-19 21:02] bond- commented on #86
Opps sorry didn't look at the repo name

[2019-01-17 07:50] kunalm3701 commented on #71
@ltdhvktqs  did you solve your problem? I am also facing the same problem :(

[2019-01-17 07:53] kunalm3701 commented on #71
@sergey-tihon I am not able to find a build.cmd file

This is the extracted folder when I downloaded `stanford-corenlp-full-2018-10-05.zip`

![image](https://user-images.githubusercontent.com/11706889/51303252-d2f28a00-1a5a-11e9-91d8-1c60536234b6.png)

I am also facing the same problem

![image](https://user-images.githubusercontent.com/11706889/51303326-08977300-1a5b-11e9-9d62-10f6f530ccd3.png)

[2019-01-17 08:18] sergey-tihon commented on #71
`build.cmd` is the way to compile this Githug repo. - https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/build.cmd if you clone or download this.

@kunalm3701 In your case you need change current directory to `D:\stanford-corenlp-full-2018-10-05\`

P.S. http://apollo13cn.blogspot.com/2018/10/f-stanford-nlp-is-running.html

[2019-02-06 19:21] NeomMob opened #93 "License"
I've seen that StanfordNLP has recently moved to an Apache License, Version 2.0.

Are you planning to do the same for Stanford.NLP.NET ?

I

[2019-02-07 14:28] sergey-tihon commented on #93
@NeomMob could you please point me to info  about Apache license.

I see that official repo is under GNU license - https://github.com/stanfordnlp/CoreNLP
and on the site -https://nlp.stanford.edu/software/

[2019-02-10 19:23] NeomMob commented on #93
I was wrong, I was talling about https://github.com/stanfordnlp/stanfordnlp which recently moved to Apache. Wondering why we had a such change and possible coming changes to otehr libs.

[2019-03-12 13:45] jgazelle commented on #83
Hi,I am getting sentences as null in the below line..Can someone help?
  var sentences = document.get(sentencesAnnotationClass) as java.util.AbstractList;

[2019-03-12 14:00] jgazelle opened #94 "In connecting to NLP service,While using sentences annotation getting null value"
I used the code from the below link
https://sergey-tihon.github.io/Stanford.NLP.NET//samples/CoreNLP.Server.html
Here sentences returns null
var sentences = document.get(sentencesAnnotationClass) as java.util.AbstractList;

[2019-03-13 12:51] jgazelle commented on #94
If i use 'tokenize' and ssplit it is not returning null.When I add 'pos' then sentences above is giving null

[2019-03-28 10:16] darklajid opened #95 "Relationship between NLP, NER, Segmenter"
I'm currently using the NER Nuget package with good results - but I'm supposed to handle Chinese texts as well.

The official site for NER says

As far as I can tell, the Segmenter Nuget package is incompatible with the NER one. Do I have to use the NLP one then?

I'm asking, because I was informed that the different packages require different license deals in case you want to use them commerciall

[2019-03-28 10:56] sergey-tihon commented on #95
[Stanford.NLP.CoreNLP](https://www.nuget.org/packages/Stanford.NLP.CoreNLP/) is the master package. You should be able to configure processing pipeline for any NLP task solved by Stanford NLP group.

[2019-04-01 08:29] AscanioB opened #96 "SimpleTensor ClassNotFoundException - Wrong directory?"
I'm trying to conduct sentiment analysis but I'm getting a ClassNotFoundException on SimpleTensor as show [here](https://prntscr.com/n5rfid). Upon further investigation of the [Object Browser](http://prntscr.com/n5rh5t) it appears that the SimpleTensor class is in edu.stanford.nlp.neural rathar than the edu.stanford.nlp.neural.rnn that it is searching for. Any ideas if I can move the file or chang

[2019-04-01 09:47] sergey-tihon commented on #96
Sorry, I cannot open link https://prntscr.com/n5rfid
Can you please post code here ?
It may depends on what model you are trying to deserialize. Please specify Nuget package that you use (with version) and what model do you use (ideally, URL where you download it from)

[2019-04-01 15:23] AscanioB commented on #96
Code below, error at: ` pipeline = new StanfordCoreNLP(props); `

[code]

Nuget package: Stanford.NLP.CoreNLP 3.9.1
Model: stanford-english-corenlp-2018-02-27-models (I've also tried with the 2018-10-05, v3.9.2) downloaded from https://stanfordnlp.github.io/CoreNLP/history.html
[Re-hosted images to imgur](https://imgur.com/a/tgNmAtb)

Furthermore I've also tried extracting the stanford-corenlp-3.9

[2019-04-30 19:09] arcontechnologies commented on #96
Used Nuget package: Stanford.NLP.CoreNLP 3.9.1

Hi ,
I have the same issue . It throws error at :

`var pipeline = new StanfordCoreNLP(props)`

I saw that workaround exist in java :  `https://github.com/stanfordnlp/CoreNLP/issues/715`
But how do we tackle "dependencies" in .Net as Maven / POM.xml tool doesn't exist ?

Any idea, insight ?

Thanks for your feedback

[2019-05-18 10:27] msamara commented on #45
Any idea if there is an update or at least a plan to update this? I do understand dependency of IKVM is vital here, but did anyone try a different approach? i.e minimise dependency by running CoreNLP as a server.

Latest I tried was running CoreNLP as a server on .NET Core 2.2.5 but still getting the usual MissingMethodException exception

MissingMethodException: Method not found: 'Void System.IO.

[2019-05-18 16:13] sergey-tihon commented on #45
The most realistic future is [.NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/) with

As of today, the most robust approach is to use [CoreNLP Server](https://stanfordnlp.github.io/CoreNLP/corenlp-server.html) and run it separately on JVM or as [Docker container](https://hub.docker.com/r/frnkenstien/corenlp)

[2019-05-31 06:48] SleepyDeb commented on #45
Hey guys, im really near to release a net core version of ikvm :D!

[2019-07-08 19:12] Eric-Ryan opened #97 "How do I get constituents from a tree annotation?"
In this example it shows the ability to extract constituents from a tree annotation:
[code]

I took the above code from the
Stanford CoreNLP Website
(https://stanfordnlp.github.io/CoreNLP/parse.html#examples).
I attempted to do this but
the constituents() method does not exist:

[code]

[2019-07-08 19:28] sergey-tihon commented on #97
most probably you cannot use  `typeof` you need `java.lang.Class`
[code]

[2019-07-08 19:32] Eric-Ryan commented on #97
Thank you for the quick response!

[2019-07-08 19:51] Eric-Ryan commented on #97
I get the error " cannot convert from 'method group' to 'Class' " on these two lines:

[code]

[2019-07-08 19:54] sergey-tihon commented on #97
Sorry, I forgot  brackets, `GetAnnotationClass` is a method that that  we should call, so `GetAnnotationClass<T>()`

[code]

[2019-07-08 21:05] Eric-Ryan commented on #97
Thank you so much it worked! I am just still new with C# so I don't understand why I'm getting "Object reference not set to an instance of an object." when using "java.util.ArrayList":

[code]

As compared with the example I showed previously by the CoreNLP website, I cannot use "Set<Constituent>" so I used "var" instead but still get the error.

[2019-07-08 21:21] Eric-Ryan commented on #97
I think I might have solved it by using "java.util.AbstractSet" instead of "java.util.ArrayList".

[2019-07-08 22:22] #97 closed

[2019-07-09 04:47] sergey-tihon commented on #97
interior with Java/IKVM types is not very intuitive.
If you not sure what exact type is returned from annotation, you can take a look in debugger it `Console.WriteLine(obj.GetType())`

[2019-07-14 20:53] Eric-Ryan commented on #97
Oh I see now, thank you. Perhaps this is out of your area of expertise but, I have been using CoreNLP within Unity and since adding the lines:
[code]
I have been getting an error about not being able to load the file "IKVM.OpenJDK.Core, Version 8.1". I was wondering if you could think of any DLL that I could be missing which could add the "GetAnnotationClass<T>()" functionality within Unity? The f

[2019-07-15 04:50] sergey-tihon commented on #97
1) I would check that `IKVM.OpenJDK.Core` is actually present near you exe or
2) If you are on Windows you use [Fuslogvw.exe](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer) to log all assembly resolution requests and result to find out what file was no resolved.
3) you can try to replace `GetAnnotationClass<T>()` call by `new T().getClass()` and c

[2019-07-15 21:42] Eric-Ryan commented on #97
new T().getClass() worked perfectly. Thanks again.

[2019-07-21 05:07] Eric-Ryan opened #98 "Is is possible to loop through the dependencies of the Semantic Graph Annotation?"
I get a NullException error for using "java.util.ArrayList". I have also tried "java.util.AbstractSet" and "java.util.AbstractCollection" but got the same error. This is my attempt:

[code]

[2019-07-21 05:15] Eric-Ryan commented on #98
I fixed it by doing this:

var dependencies = sentence.get(dependencyGraphAnnotation) as edu.stanford.nlp.semgraph.SemanticGraph;

[2019-07-21 05:16] #98 closed

[2019-07-22 14:10] GlennIM opened #99 "Transform Words into Sentences and Paragraphs?"
Is it possible to use this library to create sentences and paragraphs from a group of words. Here is an example group of words.

"hi there my name is Arthur Wilder I am four weeks into taking this pill and I'm glad you're here looking at this video because I believe what's getting ready to happen is your life is gonna change because you'll do what I did is you trilemma nine it has made me happier

[2019-07-22 16:11] sergey-tihon commented on #99
Not sure, better to ask on SO - https://stackoverflow.com/questions/tagged/stanford-nlp
I think that this is not classic NLP problem. You may take a look here
- https://linguistics.stackexchange.com/questions/3167/are-there-sentence-boundary-disambiguation-algorithms-which-can-handle-punctuati
- https://www.quora.com/Natural-Language-Processing-What-are-the-ways-to-do-Sentence-Boundary-Detection-i

[2019-07-29 16:32] tariqnahmad opened #100 "c# issues"
hi,

not really sure how to get this stuff working? ive downloaded various things (not sure what the difference is) :

1. CoreNLP from NuGet
2. http://sergey-tihon.github.io/Stanford.NLP.NET/StanfordCoreNLP.html
3. something else i forget

and now I have folders:

stanford-corenlp-full-2016-10-31
stanford-corenlp-full-2018-10-05
stanford-english-corenlp-2018-10-05-models

Q1: do i need to unzip AL

[2019-07-29 16:53] sergey-tihon commented on #100
`stanford-corenlp-full-2018-10-05` should work with latest NuGet.

the easiest way to ensure that you unzip it right is to check that `isOk == true`
[code]

if it is `false` then your `jarRoot` path is incorrect

[2019-07-30 11:33] tariqnahmad commented on #100
My stanford-corenlp-full-2018-10-05 folder contains 3 folders "patterns", "sutime" and "tokensregex". It also contains tons of .jar files and various other bits and bats.

No sign of a folder called "edu"?

[2019-07-30 11:39] sergey-tihon commented on #100
It is inside jar with models, `stanford-corenlp-3.9.2-models.jar`.
Rename this file to `.zip` and unzip.

[2019-07-30 12:04] tariqnahmad commented on #100
OK, so you must be referring to stanford-corenlp-3.9.2-models.jar. Thats fine I'll try that.

But herein lies my issue, wheres the instructions telling us to do that? And do I need to unzip all the .jar files or just seemingly random ones?

[2019-07-30 12:14] sergey-tihon commented on #100
In the getting started section on landing page
![Stanford_NLP_Software_for__NET](https://user-images.githubusercontent.com/1197905/62128060-3ef05d80-b2dc-11e9-8b5b-20d81d5ac155.png)
and in FAQ section - https://sergey-tihon.github.io/Stanford.NLP.NET//faq.html#Stanford-NLP-CoreNLP-not-loading-models

it may be not clear, but Stanford NLP group distribute models differently with different tools

[2019-07-30 13:09] tariqnahmad commented on #100
perfect. thanks.

[2019-07-30 16:18] #100 closed

[2019-10-07 19:32] StachuDotNet commented on #45
@SleepyDeb how's it going? :)

[2019-10-17 09:05] SHABIR0786 commented on #45
@SleepyDeb  Have you released the net core version of ikvm.

[2019-10-30 09:17] cosentino-smeup commented on #45
Same here .. any news on net core version of ikvm?

[2019-10-30 09:28] sergey-tihon commented on #45
Not sure if we really need it... I hope .NET 5 (`Java interoperability will be available on all platforms.`) will simplify usage of Java packages.

IKVM  details  are here https://github.com/sergey-tihon/OpenNLP.NET/issues/5#issuecomment-546685482

[2019-10-30 09:52] cosentino-smeup commented on #45
Thank you very much,
ams-tschoening<https://github.com/ams-tschoening> commented on Sep 13<https://github.com/wwrd/ikvm8/issues/3#issuecomment-531309359>

He published a working version dotnet core compatible!!

From: Sergey Tihon <notifications@github.com>
Sent: Wednesday 30 October 2019 09:29
To: sergey-tihon/Stanford.NLP.NET <Stanford.NLP.NET@noreply.github.com>
Cc: Antonio Cosentino <antonio.c

[2020-01-10 04:18] hishaks opened #101 "snk file not found"
I tried to build the project using the build script. But the resulting dll came out as unsigned as the snk file was not present in the location nuget\Stanford.NLP.snk.

[2020-01-10 05:14] sergey-tihon commented on #101
yeap, this is by design.

You can [generate your own key](https://docs.microsoft.com/en-us/dotnet/standard/assembly/create-public-private-key-pair) if need signed assemblies

[code]

[2020-01-13 17:33] #101 closed

[2020-01-15 06:18] hishaks commented on #101
After generating the .snk file, the build fails with the error joda-time.dll not found. It seems it's looking for the file in the root folder. I tried tweaking the script a little bit by supplying the correct path at:
                ModuleDefinition
                    .ReadModule(task.DllFile)
                    .Write(task.DllFile, WriterParameters(StrongNameKeyPair=key))
But it resulted in a

[2020-01-17 07:58] sergey-tihon commented on #101
Yes, it should work on windows when you run `.\build.cmd NuGet`

<img width="1628" alt="image" src="https://user-images.githubusercontent.com/1197905/72594365-4225e700-3918-11ea-97c9-c7649f28af05.png">

[2020-01-21 07:00] devaksh4 opened #102 "Calssifier Demo and how i can do it ?"
Hi Sergey

As i can see in corenlp java there is a classifier demo available.

is same available in yours? or you are planning to?

Thanks

[2020-01-21 07:09] devaksh4 commented on #102
Sorry my bad got it NER Sample

[2020-01-21 07:09] #102 closed

[2020-05-25 09:50] erksch commented on #45
.NET Core support was merged into [ikvm-revived/ikvm](https://github.com/ikvm-revived/ikvm)! Would it be possible to use this IKVM version as a dependency to enable .NET Core support?

[2020-07-21 22:15] Rand0m-Guy commented on #97
Hey, I know I'm kinda late to the party. I'm pretty new to programming but have in my hands a project that's a bit difficult. Part of it is connect Unity with Stanford CoreNLP. What I've done so far is using IKVM tu turn the core .jar (using the original files and not the .NET port mainly because I don't know the difference, maybe that's my first mistake :/) into a dll. But Visual Studio is still

[2020-07-23 20:36] Rand0m-Guy opened #104 "Setup config"
Hi!
I'm pretty new to software development but I require to use Stanford CoreNLP NET in Unity for a project I'm working on. I honestly don't know what to do...

I installed the CoreNLP NET package within Visual Studio using the NuGet package manager. I also placed the whole CoreNLP in the Assets Folder (don't even know if that's necessary or not).
However, in the package imports, "using edu.stanfo

[2020-07-24 01:58] Rand0m-Guy commented on #104
Okay, managed to make it half-work but now I don't know how to use properties if java.util.Properties is not supported

[2020-07-24 08:59] sergey-tihon commented on #104
What do you mean by `java.util.Properties` is not supported? It is inside IKVM Nuget package

[2020-07-24 18:18] Rand0m-Guy commented on #104
Yeah sorry found out yesterday and forgot to close the thread... Thanks so much nonetheless!

[2020-07-24 18:18] #104 closed

[2020-07-26 19:50] Rand0m-Guy opened #105 "Assembly 'Assets/Plugins/stanford-corenlp-3.9.2.dll' will not be loaded due to errors"
Hello!
I'm trying to use the .NET port of Stanford CoreNLP in Unity (I made an issue a couple of days ago, sorry for bugging y'all).
When loading up my code, I get 2 particular mistakes I can't get rid of:
`Assembly 'Library/ScriptAssemblies/Assembly-CSharp.dll' will not be loaded due to errors: Reference has errors 'stanford-corenlp-3.9.2'.`
and
[code]

When trying to load my script, I get an err

[2020-07-26 19:56] Rand0m-Guy commented on #105
Yep sorry screwed up again and found that I'm super stupid again, thanks anyway

[2020-07-26 19:56] #105 closed

[2020-07-27 21:46] Rand0m-Guy opened #106 "POS-Tagging in other languages"
While checking the documentation, I noticed that the .NET port of the POS tagger only supports a couple of languages. I need it for a non-supported language (spanish, specifically). What I have been trying for some weeks now is to use a dll version of the jar file of the language supplied by Stanford CoreNLP, however it does not seem to work.
When using
`var tagger = new MaxentTagger(@"C:/Users/my

[2020-07-28 09:04] sergey-tihon commented on #106
1. What NuGet Package do you use? `Stanford.NLP.CoreNLP` or `Stanford.NLP.POSTagger`? (What version)
1. Do you have file `C:/Users/myUser/Desktop/UnityProyect/Assets/Plugins/spanish-ud.tagger`?
1. Where you downloaded this file from?
1. Plz share you code snippet

[2020-07-28 16:28] Rand0m-Guy commented on #106
1.- I'm using Stanford.NLP.CoreNLP (3.9.2) downloaded from NuGet, which means in the Unity Assets Folder I'm referencing these Stanford dll's:
![image](https://user-images.githubusercontent.com/68619071/88692616-e3f66f80-d0c3-11ea-981e-fd0326b73486.png)

And these IKVM dll's:

![image](https://user-images.githubusercontent.com/68619071/88693080-7ac32c00-d0c4-11ea-9b80-2caa7e81129f.png)

2.- Techni

[2020-07-28 18:32] sergey-tihon commented on #106
__Option 1__

If you want to use `var tagger = new MaxentTagger(@"C:/Users/myUser/Desktop/UnityProyect/Assets/Plugins/spanish-ud.tagger");` then you need file `C:/Users/myUser/Desktop/UnityProyect/Assets/Plugins/spanish-ud.tagger` physically available at this path.

Just unzip Java `*.jar` with Spanish model and provide full path to `spanish-ud.tagger` file. Also in this flow you do not need lines

[2020-07-28 19:35] Rand0m-Guy commented on #106
You are honestly the best. Thank you so so much!

[2020-07-28 19:35] #106 closed

[2020-09-02 06:43] sergey-tihon opened #107 "Add samples of loading configuration from config.properties file"
https://crunchify.com/java-properties-file-how-to-read-config-properties-values-in-java/

[2021-02-28 18:10] #99 closed

[2021-02-28 18:12] #95 closed

[2021-02-28 18:13] sergey-tihon commented on #94
Sample is fixed and updated in docs

[code]

[2021-02-28 18:13] #94 closed

[2021-02-28 18:14] #93 closed

[2021-02-28 18:15] #3 closed

[2021-02-28 18:16] #4 closed

[2021-02-28 18:17] #5 closed

[2021-02-28 18:18] sergey-tihon commented on #16
I believe that it is already answered in FAQ http://sergey-tihon.github.io/Stanford.NLP.NET/#/FAQ#stackoverflow-exception

[2021-02-28 18:18] #16 closed

[2021-02-28 18:20] #18 closed

[2021-02-28 18:20] #59 closed

[2021-02-28 18:20] #19 closed

[2021-02-28 18:21] #20 closed

[2021-02-28 18:21] #40 closed

[2021-02-28 18:22] #47 closed

[2021-02-28 18:23] #53 closed

[2021-02-28 18:24] #55 closed

[2021-02-28 18:24] #60 closed

[2021-02-28 18:25] #76 closed

[2021-02-28 18:26] #78 closed

[2021-02-28 18:26] #79 closed

[2021-02-28 18:26] #80 closed

[2021-02-28 18:27] #87 closed

[2022-07-06 04:05] GeorgeS2019 commented on #45
@sergey-tihon

![image](https://user-images.githubusercontent.com/49812372/177465965-b0094eff-79dd-444d-8a15-c1776e6debc5.png)

[2022-08-19 09:35] agonzalezm commented on #45
@sergey-tihon  now that IKVM 8.2 support net core/NET 5+ when can we expect a new version of stanford.nlp.net with support for this? are there any big changes there?

[2022-08-19 09:43] GeorgeS2019 commented on #45
@agonzalezm
https://github.com/ikvm-revived/ikvm-maven/issues/8

This provide instruction to generate .NET Core IKVM dll based on maven repository

[2022-08-19 09:45] GeorgeS2019 commented on #45
@atrauzzi
Please close this issue :-)

[2022-08-19 09:47] sergey-tihon commented on #45
@agonzalezm do not expect it soon.

We did attempt to port simpler and smaller library ([Open.NLP](https://github.com/sergey-tihon/OpenNLP.NET)) and it even exist on NuGet.
We did it with IKVM 8.2.0-prerelease.392 -https://github.com/sergey-tihon/OpenNLP.NET/pull/14, but latest (aka stable/released version of IKVM does not work for me at all, like here https://github.com/sergey-tihon/OpenNLP.NET/p

[2022-08-19 09:50] GeorgeS2019 commented on #45
@sergey-tihon
The ikvm maven, if you read the issues, not yet free of issues.  I tried other maven library, One need to do the test of the created dll.

You have far more experience. It is not trivial what you have done to support us.
Thanks for sharing with us the challenges you have faced.

Let us help each other to get there.

[2022-08-19 09:53] GeorgeS2019 commented on #45
Potentially, it could be a TDD way to [test ](https://github.com/martin-honnen/CoffeeSacksIKVMTest4/blob/ae2bfe80db72376a6e0c2f5b1d58f898295c79d7/CoffeeSacksIKVMTest4/Program.cs#L2)the created dll.  In this way, it will be easier for the community to keep up with the latest (e.g. nightly) developments.

[2022-08-19 17:37] wasabii commented on #45
@sergey-tihon I'm the guy doing most of the new IKVM development. I stumbled across this because @GeorgeS2019 opened a bug on the IKVM side for something.

But I haven't been able to figure out exactly what doesn't work for you, and don't see any bug in the IKVM repo that would be it.

[2022-08-19 17:39] wasabii commented on #45
@GeorgeS2019 You say there is some IKVM.Maven.Sdk bug regarding this? Can you point that out. I am not tracking any breaking bugs in IKVM.Maven.Sdk. Just a handful of situations where people aren't exactly understanding how Maven works (underspecified optional dependencies) and some recurring problem with Apache Tika's class loading.

[2022-08-19 21:52] GeorgeS2019 commented on #45
Everything is **.NET6**

Using this project configuration
![image](https://user-images.githubusercontent.com/49812372/185711737-03efd2bc-b829-43c5-ba29-cb442288e3ce.png)

Get these **Stanford-CoreNLP**  dlls:
![image](https://user-images.githubusercontent.com/49812372/185711676-f5bc52a9-7bd1-4492-b7fd-e03cd7994ef1.png)

Did a VERY quick and dirty check of the provided StanfordNLP.CoreNLP.Tests

![

[2022-08-19 21:58] wasabii commented on #45
Yeah.... So what's the error? And can you put it on the IKVM-maven repo?

[2022-08-19 22:01] GeorgeS2019 commented on #45
To get these tests right, the directory of the models and test data must be in the right place and it is unclear whether I have included all the DLL generated. Ideally, all generated Dlls are put in a separate folder. (As I said this is quick and dirty)

The aim is to show that your ikvm (.NET6) is working, we need to investigate further.

[2022-08-19 22:08] wasabii commented on #45
There is no need to do anything with generated DLLs. You supply add maven reference and you're done. That's the goal.

[2022-08-19 22:10] GeorgeS2019 commented on #45
Good to know

[2022-08-21 17:19] GeorgeS2019 commented on #45
# [PoC OpenNLP](https://github.com/NightOwl888/MavenReferencePoC/blob/main/src/MavenExample/MavenExample.csproj) using `MavenReference`

[code]

[2022-08-21 17:23] wasabii commented on #45
That repository is two months old and has no relationship to the released version.

[2022-08-21 17:34] GeorgeS2019 commented on #45
@wasabii  The biggest challenge for new adopters to the new possibilities offered by you and your contributors are the ASSUMPTIONS that the new adopters could follow your latest thinking.

IKVM has existed for many many years.
However, now we have Ikvm.Maver and Ikvm.SDK.

Many need time to figure out how to catch up.

Leaving all attempts (especially PoC) is critical to catching up with the new v

[2022-08-21 17:36] wasabii commented on #45
I don't exactly know what you're saying. You are grabbing a private repository hosted by NightOwl that he hasn't updated in two months.

IKVM.Maven.Sdk is located at https://github.com/ikvm-revived/ikvm-maven, on the official IKVM repository. Said page has a fairly detailed README right on the front. And the package is published in NuGet with an official name.

[2022-08-21 17:37] GeorgeS2019 commented on #45
@wasabii

You are doing a great job. However, I am in the business of effective communication

Not everyone works the same way you write. You have done a great job. Now, let the community helps each other to catch up your speed.

[2022-08-21 17:49] GeorgeS2019 commented on #45
@wasabii

I apologize, you are right, the [two months old](https://github.com/sergey-tihon/OpenNLP.NET/pull/14) may not reflect a better result with the latest Ikvm-revived commit

[2022-08-25 08:46] sergey-tihon commented on #37
Close this as an old issue, should be fine with .NET Core binaries

[2022-08-25 08:46] #37 closed

[2022-08-25 08:51] sergey-tihon commented on #65
Probably, it is OK, since nobody complain.

[2022-08-25 08:51] #65 closed

[2022-08-25 08:53] sergey-tihon commented on #34
Close as an old issue

[2022-08-25 08:53] #34 closed

[2022-08-25 08:55] sergey-tihon commented on #42
Close as an old issue

[2022-08-25 08:55] #42 closed

[2022-08-25 08:55] sergey-tihon commented on #36
Close as an old issue

[2022-08-25 08:55] #36 closed

[2022-08-25 08:56] sergey-tihon commented on #26
Close as an old issue

[2022-08-25 08:56] #26 closed

[2022-08-25 08:56] sergey-tihon commented on #54
Close as an old issue

[2022-08-25 08:56] #54 closed

[2022-08-25 08:56] sergey-tihon commented on #21
Close as an old issue

[2022-08-25 08:56] #21 closed

[2022-08-25 08:57] sergey-tihon commented on #90
Close as an old issue

[2022-08-25 08:57] #90 closed

[2022-08-25 08:57] sergey-tihon commented on #91
Close as an old issue

[2022-08-25 08:57] #91 closed

[2022-08-25 08:58] sergey-tihon commented on #96
Close as an old issue

[2022-08-25 08:58] #96 closed

[2022-08-25 08:58] sergey-tihon commented on #71
Close as an old issue

[2022-08-25 08:58] #71 closed

[2022-08-25 09:22] GeorgeS2019 commented on #45
@sergey-tihon  Thanks for making the .NET Co works.
I built, mainly build Test part fails
![image](https://user-images.githubusercontent.com/49812372/186627447-252cdaa9-6470-4e4a-bb43-c3b00af18ea1.png)

[2022-08-25 09:46] GeorgeS2019 commented on #45
The UNPACKING did not work for TWO folders
- data\paket-files\nlp.stanford.edu\stanford-parser-full-2020-11-17
- data\paket-files\nlp.stanford.edu\stanford-corenlp-4.5.0
![image](https://user-images.githubusercontent.com/49812372/186632609-309614bc-7a1c-4811-b08a-aaa74f56d259.png)

[2022-08-25 09:49] GeorgeS2019 opened #121 "The new .NET Core merge works except very minor issues"
The UNPACKING did not work for TWO folders
- data\paket-files\nlp.stanford.edu\stanford-parser-full-2020-11-17
- data\paket-files\nlp.stanford.edu\stanford-corenlp-4.5.0
![image](https://user-images.githubusercontent.com/49812372/186632609-309614bc-7a1c-4811-b08a-aaa74f56d259.png)

[2022-08-25 09:53] sergey-tihon commented on #121
It works, but not when you `build from VS`

Run `.\build.cmd -t RunTests` this command download model and unpack them before tests execution
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/master/build.fsx#L370-L377

After that everything will be fine in VS.

[2022-08-25 09:54] #121 closed

[2022-08-25 10:20] GeorgeS2019 opened #122 "Feedback Additional Standford.NLP Tools: PyTorch Dependency Parser"
This is MORE of a feedback.

[Additional Tools: PyTorch Dependency Parser](https://stanfordnlp.github.io/CoreNLP/pytorch-depparse.html)

### Relationship with [stanza](https://github.com/stanfordnlp/stanza): Which is a full-featured Python dependency parser.

I look through [PyTorch Dependency Parser](https://github.com/stanfordnlp/nn-depparser), if there is interest,  this can be ported to .NET u

[2022-08-25 12:00] GeorgeS2019 opened #123 "Help needed: Getting Dependency Visualization Brat to work in Blazor"
# [Online Stanford CoreNLP demo](http://nlp.stanford.edu:8080/corenlp/)

It calls http://nlp.stanford.edu:8080/brat/ajax.cgi to get back this json which Brat cient uses for visualization

Potentially it should be possible to generate the json output without going through the Brat Apache server.

Any interest from anyone more experience is appreicated.

### Blazor wwwroot structure for BRAT

![imag

[2022-09-16 21:20] #123 closed

[2022-09-20 20:10] #122 closed

[2022-09-27 18:44] sergey-tihon commented on #122
@GeorgeS2019 You implemented it or closed because of no-reply? ☺️

[2022-09-28 09:46] GeorgeS2019 opened #125 "CoreNLP Server"
https://stanfordnlp.github.io/CoreNLP/corenlp-server.html#getting-started

Could the current .NET Core version provides CoreNLP server or it needs to be ported over to .NET Core using the latest IKVM?

FYI: [.NET client ](https://github.com/AMArostegui/CoreNLPClient.Net)to CoreNLP server

[2022-09-28 11:51] sergey-tihon commented on #125
I do not see much value in running Sever on top of IKVM. You can just start it as Java process and have native performance.

It was possible to use this library as a client for CoreNLP Server (but I have not tried with .NET Core)
http://sergey-tihon.github.io/Stanford.NLP.NET/#/corenlp/Server

[2022-09-29 10:34] GeorgeS2019 opened #126 "Tests for other Langauges"
Currently going through Parser using model 4.5.1 version provided for German

[code]

[code]

Potentially relevant [issue: No head rule defined for IP using class edu.stanford.nlp.trees.SemanticHeadFinder](https://github.com/stanfordnlp/CoreNLP/issues/1168)

[2022-09-29 14:37] GeorgeS2019 commented on #125
@sergey-tihon

It fails here
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/eefbfb549f138258d161c2184b80f57d003df035/tests/Stanford.NLP.CoreNLP.Tests/StanfordServer.cs#L40

The returned sentences was null

[2022-09-29 18:53] GeorgeS2019 commented on #125
I could get [CoreNLPClient.Net](https://github.com/AMArostegui/CoreNLPClient.Net) .NET reimplementation of the Stanza client - working

[2022-09-29 18:55] GeorgeS2019 commented on #126
https://github.com/stanfordnlp/CoreNLP/issues/1227

I know it is not part of the scope. It would be great if you could get the German language using e.g. the following example.

[code]

[2022-09-29 20:17] sergey-tihon commented on #126
I am happy to merge test that check that  German works as expected, especially if you have working sample.

[2022-09-29 20:26] GeorgeS2019 commented on #126
@sergey-tihon
Good to hear that.
Searching the internet, most users complained about the German language (especially the dependency parsing, which is the most critical as OpenNLP has no such features), most likely the least tested, so it is good we have you a second look :-)

[2022-09-29 20:47] GeorgeS2019 commented on #125
http://sergey-tihon.github.io/Stanford.NLP.NET/#/corenlp/Server

I think the code generally works but must feed a minimum of 2 sentences. Not one;.)

[2022-09-29 21:00] GeorgeS2019 commented on #125
With the way I set up the CoreNLP server, simply unzip the stanford-corenlp-4.5.0.zip
This works
props.setProperty("annotators", "tokenize, ssplit, pos, lemma, ner");

But not when additional "parse, dcoref" are added
https://github.com/sergey-tihon/Stanford.NLP.NET/blob/eefbfb549f138258d161c2184b80f57d003df035/tests/Stanford.NLP.CoreNLP.Tests/StanfordServer.cs#L23

[2022-10-11 08:30] wasabii commented on #45
That repository is two months old and has no relationship to the released version.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: GeorgeS2019 ***@***.***>
Sent: Sunday, August 21, 2022 12:20:05 PM
To: sergey-tihon/Stanford.NLP.NET ***@***.***>
Cc: Jerome Haltom ***@***.***>; Comment ***@***.***>
Subject: Re: [sergey-tihon/Stanford.NLP.NET] Plans to add .NET

[2022-10-21 17:55] vineet-singh26 opened #127 "Signed version for stanford.nlp.PosTagger"
can you please make the latest version signed in?

[2022-10-22 12:09] sergey-tihon commented on #127
First of all you most likely need to use -  Stanford.NLP.CoreNLP.

Second question, why do you need signature these days?

[2022-10-23 01:31] vineet-shekhawat commented on #127
I am using Stanford.NLP.PosTagger for fetching tags for a query.
I am integrating it in my project, where we can't integrate packages which are not signed.
Can you please help with that?

[2022-10-23 01:33] vineet-singh26 commented on #127
I am using Stanford.NLP.PosTagger for fetching tags for a query.
I am integrating it in my project, where we can't integrate packages which are not signed.
Can you please help with that?

Thankyou

[2022-11-20 18:23] #127 closed